<section class="section-cards">
    <div class="card-grid">
        <div class="cards">
            <div class="box red">
                <img src="assets/images/hammer.png" alt="" height="50px">
                <div>
                    <p>Total Reported Cases</p>
                    <p>{{cardsData.totalCases}}</p>
                </div>
            </div>
            <div class="box red">
                <div>
                    <p>Filtered Case</p>
                    <p>8,320</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box red">
                <img src="assets/images/ui.png" alt="" height="50px">
                <div>
                    <p>Total UI Cases</p>
                    <p>560</p>
                </div>
            </div>
            <div class="box red">
                <div>
                    <p>Filtered Case</p>
                    <p>560</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box red">
                <img src="assets/images/pt.png" alt="" height="50px">
                <div>
                    <p>Total Pending Trail Cases</p>
                    <p>{{cardsData.pendingTrials}}</p>
                </div>
            </div>
            <div class="box red">
                <div>
                    <p>Filtered Case</p>
                    <p>7,760</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box blue">
                <img src="assets/images/auqited.png" alt="" height="50px">
                <div>
                    <p>Total Acquitted</p>
                    <p>{{cardsData.acquitted}}</p>
                </div>
            </div>
            <div class="box blue">
                <div>
                    <p>Filtered Case</p>
                    <p>0</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box blue">
                <img src="assets/images/convicted.png" alt="" height="50px">
                <div>
                    <p>Total Convicted</p>
                    <p>{{cardsData.convicted}}</p>
                </div>
            </div>
            <div class="box blue">
                <div>
                    <p>Filtered Case</p>
                    <p>0</p>
                </div>
            </div>
        </div>


        <div class="cards">
            <div class="box red">
                <img src="assets/images/fir.png" alt="" height="50px">
                <div>
                    <p>Total FIR 2025</p>
                    <p>5</p>
                </div>
            </div>
            <div class="box red">
                <div>
                    <p>Filtered Case</p>
                    <p>5</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box red">
                <img src="assets/images/pt.png" alt="" height="50px">
                <div>
                    <p>Total Chargesheeted Cases</p>
                    <p>8320</p>
                </div>
            </div>
            <div class="box red">
                <div>
                    <p>Filtered Case</p>
                    <p>8320</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box red">
                <img src="assets/images/reff.png" alt="" height="50px">
                <div>
                    <p>Total Reffered Chargesheeted Cases</p>
                    <p>8320</p>
                </div>
            </div>
            <div class="box red">
                <div>
                    <p>Filtered Case</p>
                    <p>8320</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box blue">
                <img src="assets/images/judge.png" alt="" height="50px">
                <div>
                    <p>Total Judgements</p>
                    <p>0</p>
                </div>
            </div>
            <div class="box blue">
                <div>
                    <p>Filtered Case</p>
                    <p>0</p>
                </div>
            </div>
        </div>
    </div>
</section>