<section class="section-cards">
    <div class="card-grid">
        <div class="cards">
            <div class="box red">
                <img src="assets/images/hammer.png" alt="" height="50px">
                <div>
                    <p>Total Reported Cases</p>
                    <p>{{staticCardsData.Static_Total_Reported_Cases}}</p>
                </div>
            </div>
            <div class="box red">
                <div>
                    <p>Filtered Case</p>
                    <p>{{dynamicCardsData.Total_Reported_Cases}}</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box red">
                <img src="assets/images/ui.png" alt="" height="50px">
                <div>
                    <p>Total UI Cases</p>
                    <p>{{staticCardsData.Static_Total_UI_Cases}}</p>
                </div>
            </div>
            <div class="box red">
                <div>
                    <p>Filtered Case</p>
                    <p>{{dynamicCardsData.Total_UI_Cases}}</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box red">
                <img src="assets/images/pt.png" alt="" height="50px">
                <div>
                    <p>Total Pending Trail Cases</p>
                    <p>{{staticCardsData.Static_Total_PT_Cases}}</p>
                </div>
            </div>
            <div class="box red">
                <div>
                    <p>Filtered Case</p>
                    <p>{{dynamicCardsData.Total_PT_Cases}}</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box orange">
                <img src="assets/images/auqited.png" alt="" height="50px">
                <div>
                    <p>Total Acquitted</p>
                    <p>{{staticCardsData.Static_Total_Acquitted}}</p>
                </div>
            </div>
            <div class="box orange">
                <div>
                    <p>Filtered Case</p>
                    <p>{{dynamicCardsData.Total_Acquitted}}</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box orange">
                <img src="assets/images/convicted.png" alt="" height="50px">
                <div>
                    <p>Total Convicted</p>
                    <p>{{staticCardsData.Static_Total_Convicted}}</p>
                </div>
            </div>
            <div class="box orange">
                <div>
                    <p>Filtered Case</p>
                    <p>{{dynamicCardsData.Total_Convicted}}</p>
                </div>
            </div>
        </div>


        <div class="cards">
            <div class="box orange">
                <img src="assets/images/fir.png" alt="" height="50px">
                <div>
                    <p>Total FIR 2025</p>
                    <p>{{staticCardsData.Static_Total_FIR_currentyear}}</p>
                </div>
            </div>
            <div class="box orange">
                <div>
                    <p>Filtered Case</p>
                    <p>{{dynamicCardsData.Total_FIR_currentyear}}</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box red">
                <img src="assets/images/pt.png" alt="" height="50px">
                <div>
                    <p>Total Chargesheeted Cases</p>
                    <p>{{staticCardsData.Static_Total_Chargesheeted_Cases}}</p>
                </div>
            </div>
            <div class="box red">
                <div>
                    <p>Filtered Case</p>
                    <p>{{dynamicCardsData.Total_Chargesheeted_Cases}}</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box red">
                <img src="assets/images/reff.png" alt="" height="50px">
                <div>
                    <p>Total Disposal Cases</p>
                    <!-- <p>{{staticCardsData.Static_Total_Reffered_Chargesheeted_Cases}}</p> -->
                     <p>{{staticCardsData.Static_Total_Referred_Chargesheeted_Cases}}</p>
                </div>
            </div>
            <div class="box red">
                <div>
                    <p>Filtered Case</p>
                    <p>{{dynamicCardsData.Total_Reffered_Chargesheeted_Cases}}</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="box blue">
                <img src="assets/images/judge.png" alt="" height="50px">
                <div>
                    <p>Total Judgements</p>
                    <p>{{staticCardsData.Static_Total_Judgements}}</p>
                </div>
            </div>
            <div class="box blue">
                <div>
                    <p>Filtered Case</p>
                    <p>{{dynamicCardsData.Total_Judgements}}</p>
                </div>
            </div>
        </div>
    </div>
    <app-loading-dash *ngIf="loading"/>
</section>