<div *ngIf="view == 'LIST'" class="card">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <div class="d-flex align-items-center position-relative my-1">
        <!-- <i class="fas fa-search fs-3 position-absolute ms-5"></i>
        <input type="text" [(ngModel)]="searchText" class="form-control form-control-solid w-250px ps-12"
          placeholder="Search Member Name" (input)="filterMembers()" /> -->
      </div>
    </div>
    <div class="card-toolbar">
      <button class="btn btn-primary" (click)="Add()">
        <i class="fas fa-plus-circle"></i> Add Meeting
      </button>
    </div>
  </div>

  <div class="card-body pt-0">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>SI.No</th>
          <th>Meeting Type</th>
          <th>Meeting Quarter</th>
          <th>Meeting Date</th>
          <th>District</th>
          <th>Sub Division</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="filteredMeeting.length === 0">
          <td colspan="9" class="text-center">No data found</td>
        </tr>
        <tr *ngFor="let meeting of filteredMeeting | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
          <td>{{ (page - 1) * 10 + i + 1 }}</td>
          <td>{{ meeting.meeting_type || 'N/A' }}</td>
          <td>{{ meeting.meeting_quarter || 'N/A' }}</td>
          <td>{{ meeting.meeting_date | date: 'dd/MM/yyyy' ||  'N/A' }}</td>
          <td>{{ meeting.district || 'N/A' }}</td>
          <td>{{ meeting.subdivision || 'N/A' }}</td>
          <!-- <td>
            <span class="badge" [ngClass]="member.status == '1' ? 'badge-success' : 'badge-danger'">
              {{ member.status == '1' ? 'Active' : 'Inactive' }}
            </span>
          </td> -->
          <!-- <td>
            <div ngbDropdown class="d-inline-block">
              <button ngbDropdownToggle class="btn btn-sm btn-circle btn-icon btn-bg-light btn-active-color-primary">
                <i class="bi bi-three-dots-vertical fs-3"></i>
              </button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="openModal(member)">Edit</button>
                <button ngbDropdownItem (click)="deleteMember(member.vmc_id)">Delete</button>

                <button ngbDropdownItem (click)="toggleStatus(member)">
                  {{ member.status == '1' ? 'Set Inactive' : 'Set Active' }}
                </button>
              </div>
            </div>
          </td> -->
        </tr>

      </tbody>
    </table>

    <pagination-controls class="d-flex justify-content-end" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<div *ngIf="view == 'ADD'" class="card">
  <div class="card-header border-0 pt-6 bg-primary text-white">
    <h3 class="card-title text-white">Meeting Details</h3>
  </div>

  <div class="card-body">
    <!-- Tabs for Committees -->

    <div class="mb-4">
      <label for="year" class="form-label">Select Year:</label><span class="required"></span>
      <select
        id="year"
        class="form-select"
        [(ngModel)]="selectedYear"
        (change)="selectYear(selectedYear)"
      >
        <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
      </select>
      
    </div>
    <ul class="nav nav-tabs custom-tabs">
      <li class="nav-item" *ngFor="let committee of committees">
        <a
          class="nav-link"
          [class.active]="selectedCommittee === committee"
          (click)="selectCommittee(committee)"
        >
          {{ committee.name }}
        </a>
      </li>
    </ul>

    <div class="row g-3 mt-3"> 
      <!-- Show District only for DLVMC and SLVMC -->
      <div *ngIf="selectedCommittee.name !== 'SLVMC'" class="col-md-6">
        
        <select
          id="district"
          class="form-select"
          [(ngModel)]="formState[selectedMeeting].selectedDistrict"
          (change)="onDistrictChange()"
        >
          <option value="" disabled>Select District</option>
          <option *ngFor="let district of districts" [value]="district">
            {{ district }}
          </option>
        </select>
      </div>

      <!-- Show Subdivision only for SDLVMC -->
      <div *ngIf="selectedCommittee.name === 'SDLVMC'" class="col-md-6">
       
        <select
          id="subdivision"
          class="form-select"
          [(ngModel)]="formState[selectedMeeting].meetingDetails.subdivision"
          (change)="selectedSudivision()"
        >
          <option value="" disabled>Select Subdivision</option>
          <option *ngFor="let subdivision of formState[selectedMeeting].subdivisions" [value]="subdivision">
            {{ subdivision }}
          </option>
        </select>
      </div>
    </div>

    <!-- Meeting Tabs -->
    <div class="mt-4">
      <ul class="nav nav-pills custom-pills">
        <li
          class="nav-item"
          *ngFor="let meeting of selectedCommittee.meetings; let i = index"
        >
          <a
            class="nav-link"
            [class.active]="selectedMeeting === meeting"
            [style.backgroundColor]="formState[getMeetingKey(i)]?.color || ''"
            [style.color]="formState[getMeetingKey(i)]?.color === 'green' ? 'white' : 'black'"
            (click)="selectMeeting(meeting)"
          >
            {{ i + 1 }}. {{ meeting }}
          </a>
        </li>
      </ul>
    </div>
    
    
    
    
    
    
    

    <!-- Form Content -->
    <div *ngIf="selectedMeeting">
      <div class="section-title mt-4 mb-3">{{ selectedMeeting }} Form</div>

      <!-- Conditional District and Subdivision Inputs -->
    

      <!-- Meeting Details: Date and Time -->
      <div class="row g-3 mt-4">
        <div class="col-md-6">
          <label for="meetingDate" class="form-label">Date of Meeting</label><span class="required"></span>
          <input
            type="date"
            id="meetingDate"
            [max]="today"
            class="form-control"
            [(ngModel)]="formState[selectedMeeting].meetingDetails.meetingDate"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="meetingTime" class="form-label">Time of Meeting</label><span class="required"></span>
          <input
            type="time"
            id="meetingTime"
            class="form-control"
            [(ngModel)]="formState[selectedMeeting].meetingDetails.meetingTime"
            required
          />
        </div>
      </div>

      <!-- Member Table -->
      <div class="section-title mt-4 mb-3">Attendee Details</div>
    <table class="table table-striped table-bordered">
  <thead class="table-light">
    <tr>
      <th>Salutation</th>
      <th>Attendee Type</th>
      <th>Name</th>
      <th>Designation</th>
      <!-- <th>Date of Appointment</th> -->
      <th>Attendance</th>
      <!-- <th>Status</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let attendee of filteredAttendees; let i = index" [style.backgroundColor]="attendee.color">
      <td>{{ attendee.salutation }}</td>
      <td>{{ attendee.member_type }}</td>
      <td>{{ attendee.name }}</td>
      <td>{{ attendee.designation }}</td>
      <!-- <td>{{ attendee.meeting_date | date: 'dd-MM-yyyy' }}</td> -->
      <td *ngIf="!exisiting_record">
        <select
          class="form-select"
          [(ngModel)]="attendee.attended"
          [name]="'attended_' + i"
        >
          <option value="" disabled>Select one option</option>
          <option [value]="true">Present</option>
          <option [value]="false">Absent</option>
        </select>
      </td>
      <td *ngIf="exisiting_record">
        {{ attendee.Attendance ? 'Present' : 'Absent' }}
      </td>
      <!-- <td>
        {{ attendee.meeting_status }}
      </td> -->
    </tr>
  </tbody>
</table>



      <!-- File Upload -->
      <!-- <div *ngIf="!exisiting_record" class="row g-3 mt-4">
        <div class="col-md-6">
          <label for="minutesUpload" class="form-label">Upload the Minutes</label><span style="color: red;font-size: 9px;margin-left: 10px;" >(Only PDF file less than 5 MB will be allowed)</span>
          <input
            type="file"
            id="minutesUpload"
            class="form-control"
            (change)="onFileChange($event)"
            accept="application/pdf"
          />
        </div>
      </div> -->

      <div class="col-md-4 mb-3">                
        <div *ngIf="existingFilePath && !showFileInput">
         <div class="col-12 mb-3">
           <div style="padding: 7px;" class="card">
             <div style="padding: 7px;" class="card-body d-flex justify-content-between align-items-center">
               <span class="text-truncate me-2">{{ getFileName() }}</span>
               <div>
                 <button type="button" class="btn btn-primary btn-sm me-2" (click)="viewFile()">
                   View
                 </button>
                 <button type="button" class="btn btn-danger btn-sm" (click)="openDialog('1')">
                   <i class="fas fa-times"></i>
                 </button>
               </div>
             </div>
           </div>
         </div>
       </div>
       <label for="minutesUpload" class="form-label">Upload the Minutes</label><span style="color: red;font-size: 9px;margin-left: 10px;" >(Only PDF file less than 5 MB will be allowed)</span>
           <input *ngIf="showFileInput"
             type="file" 
             class="form-control" 
             id="minutesUpload"
             (change)="uploadMinutes($event)" 
             accept="application/pdf"
           />
       </div> 


      <!-- Submit Button -->
      <div *ngIf="!exisiting_record" class="row mt-4">
        <div class="col-md-12 text-right">
          <button class="btn btn-primary btn-lg" (click)="Back()">Back</button>
          <button style="margin-left: 10px;" class="btn btn-primary btn-lg" (click)="submitForm()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="dialog-overlay" *ngIf="isDialogVisible">
  <div class="dialog-content">
    <div class="modal-header">
      <h4 class="modal-title">Confirm Clear</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeDialog()"></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to remove this file?</p>
    </div>
    <div style="justify-content: space-between;" class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeDialog()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="confirmClear('confirm')">Remove</button>
    </div>
  </div>
</div>