#chart{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color: #00008B;
}
table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
    text-align: center;
    border: 1px solid black;
}