<!-- working altred cases -->
<div class="card border-secondary shadow-sm">
  <div class="card-header bg-primary text-white">
    <h5 class="text-white mt-8 mb-1 text-center">Altered Case Details</h5>
  </div>
   <div *ngIf="firDetails.data" class="card-body">
      <div class="row text-left">
        <div class="col-md-3 mb-3">
          <strong>FIR Number:</strong>
          <p class="text-dark">{{ (firDetails.data.fir_number + '/' + firDetails.data.fir_number_suffix) || 'N/A' }}</p>
        </div>
        <div class="col-md-3 mb-3">
          <strong>District:</strong>
          <p class="text-dark">{{ firDetails.data.revenue_district || 'N/A' }}</p>
        </div>
        <div class="col-md-3 mb-3">
          <strong>Police Station Details:</strong>
          <p class="text-dark">{{ firDetails.data.police_station || 'N/A' }}</p>
        </div>
        <div class="col-md-3 mb-3">
          <strong>Date of Reporting:</strong>
          <p class="text-dark">{{ firDetails.data.date_of_registration || 'N/A' }}</p>
        </div>
        <div class="col-md-3 mb-3">
          <strong>Date of Occurrence:</strong>
          <p class="text-dark">{{ firDetails.data.date_of_occurrence || 'N/A' }}</p>
        </div>
        <!-- <div class="col-md-3 mb-3">
          <strong>Nature of Offence:</strong>
          <p class="text-dark">{{ firDetails.data.nature_of_offence || 'N/A' }}</p>
        </div> -->
        <div class="col-md-3 mb-3">
          <strong>Place of Occurrence:</strong>
          <p class="text-dark">{{ firDetails.data.place_of_occurrence || 'N/A' }}</p>
        </div>
        <div class="col-md-3 mb-3">
          <strong>Number of Victims:</strong>
          <p class="text-dark">{{ firDetails.data.number_of_victim || 'N/A' }}</p>
        </div>
        <div class="col-md-3 mb-3">
          <strong>Number of Accused:</strong>
          <p class="text-dark">{{ firDetails.data.number_of_accused || 'N/A' }}</p>
        </div>

      </div>
    </div>
  <div class="card-header bg-primary text-white">
    <h5 class="text-white mt-8 mb-1 text-center">Current Sections</h5>
  </div>
   <form [formGroup]="firForm" id="firForm" >
   <div class="form-step">
       
        <div formArrayName="victims2">
          <div *ngFor="let victim of victims2.controls; let i = index" [formGroupName]="i" class="victim-entry mb-4 card border-primary">           
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 float-left mr-2">
                  <input id="victimName2" type="text" class="form-control mb-3" formControlName="victimName2" placeholder="Name of the Victim" readonly />
                </div>

                <div class="col-md-12 mb-3">
                  <label class="form-label">Sections of the SC/ST POA Act Invoked for the Offence *</label>

                  
                <ng-select
                class="form-select inactive"
                [items]="offenceOptions"
                bindLabel="offence_name"
                bindValue="offence_name"
                [multiple]="true"
                formControlName="offenceCommitted2"
                [searchable]="false"
                [clearable]="false"
                [disabled]="true"
                [placeholder]="victims.at(i).get('offenceCommitted2')?.value?.length ? '' : 'Select offences'"
                [id]="'victimOffence' + i"
                required
              >
                <!-- Custom selected label -->
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  <span>
                    {{ item.offence_act_name }}
                    <span *ngIf="!isActExcluded(item.offence_act_name)"> - {{ item.offence_name }}</span>
                  </span>
                  <!-- <span class="remove-icon" (click)="removeSelectedOffence(i, item.offence_name)">
                    &times;
                  </span> -->
                </ng-template>

                <!-- Custom dropdown option -->
                <ng-template ng-option-tmp let-item="item">
                  {{ item.offence_act_name }}
                  <span *ngIf="!isActExcluded(item.offence_act_name)"> - {{ item.offence_name }}</span>
                </ng-template>
              </ng-select>
                </div>




                <div class="col-md-12 mb-3"> 
                  <label class="form-label">Sections of the SC/ST POA Act Invoked for the Offence *</label><br>
                  <input type="text"  formControlName="scstSections2" class="form-control inactive" readonly />

                </div>
                <div class="col-md-12 mb-3">
                  <label for="sectionsIPC" class="form-label w-100">Section Invoked Under IPC/POCSO/etc.
                    <!-- <button type="button" class="btn btn-primary mt-2 float-right py-2" (click)="addSection(i)" style="float: right!important;">Add Section</button> -->

                  </label>
                  <div formArrayName="sectionDetails2">
                    <div *ngFor="let section of getSectionDetails2(i).controls; let j = index" [formGroupName]="j" class="section-entry mb-3">
                      <div class="row">
                        <div class="col-md-4 float-left mr-2">
                          <select id="sectionType2{{ i }}-{{ j }}" class="form-control inactive" formControlName="SectionType2">
                            <option selected value="">Select</option>
                            <option value="IPC">IPC</option>
                            <option value="BNS">BNS</option>
                            <option value="BNSS">BNSS</option>
                            <option value="POCSO">POCSO</option>
                            <option value="Child Marriage Act">Child Marriage Act</option>
                            <option value="Women Harassment Act">Women Harassment Act</option>
                            <option value="PPDL">PPDL</option>
                            <option value="Others">Others</option>
                          </select>
                        </div>
          
                        <div class="col-md-5 float-left">
                          <input type="text" id="sectionName2{{ i }}-{{ j }}" class="form-control inactive" formControlName="Section2" placeholder="Enter section name" />
                        </div>
          
                        <!-- <div class="col-md-2 text-center float-left">
                          <button *ngIf="j !== 0" type="button" class="btn btn-danger btn-sm" (click)="removeSection(i, j)">Delete</button>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="card-header bg-primary text-white">
    <h5 class="text-white mt-8 mb-1 text-center">Sections to be Changed</h5>
    </div>
      <div class="form-step">
       
        <div formArrayName="victims">
          <div *ngFor="let victim of victims.controls; let i = index" [formGroupName]="i" class="victim-entry mb-4 card border-primary">           
            <div class="card-body">
              <div class="row">

                <div class="col-md-4 float-left mr-2">
                  <input id="victimName" type="text" class="form-control mb-3" formControlName="victimName" placeholder="Name of the Victim" readonly />
                </div>

                <div class="col-md-12 mb-3">
                  <label class="form-label">Sections of the SC/ST POA Act Invoked for the Offence *</label>

                  
                <ng-select
                class="form-select"
                [items]="offenceOptions"
                bindLabel="offence_name"
                bindValue="offence_name"
                [multiple]="true"
                formControlName="offenceCommitted"
                [searchable]="true"
                [clearable]="true"
                [placeholder]="victims.at(i).get('offenceCommitted')?.value?.length ? '' : 'Select offences'"
                (change)="onOffenceCommittedChange(i)"
                [id]="'victimOffence' + i"
                required
              >
                <!-- Custom selected label -->
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  <span>
                    {{ item.offence_act_name }}
                    <span *ngIf="!isActExcluded(item.offence_act_name)"> - {{ item.offence_name }}</span>
                  </span>
                  <span class="remove-icon" (click)="removeSelectedOffence(i, item.offence_name)">
                    &times;
                  </span>
                </ng-template>

                <!-- Custom dropdown option -->
                <ng-template ng-option-tmp let-item="item">
                  {{ item.offence_act_name }}
                  <span *ngIf="!isActExcluded(item.offence_act_name)"> - {{ item.offence_name }}</span>
                </ng-template>
              </ng-select>
                </div>




                <div class="col-md-12 mb-3"> 
                  <label class="form-label">Sections of the SC/ST POA Act Invoked for the Offence *</label><br>
                  <input type="text"  formControlName="scstSections" class="form-control" readonly />

                </div>
                <div class="col-md-12 mb-3">
                  <label for="sectionsIPC" class="form-label w-100">Section Invoked Under IPC/POCSO/etc.
                    <button type="button" class="btn btn-primary mt-2 float-right py-2" (click)="addSection(i)" style="float: right!important;">Add Section</button>

                  </label>
                  <div formArrayName="sectionDetails">
                    <div *ngFor="let section of getSectionDetails(i).controls; let j = index" [formGroupName]="j" class="section-entry mb-3">
                      <div class="row">
                        <div class="col-md-4 float-left mr-2">
                          <select id="sectionType{{ i }}-{{ j }}" class="form-control" formControlName="SectionType">
                            <option selected value="">Select</option>
                            <option value="IPC">IPC</option>
                            <option value="BNS">BNS</option>
                            <option value="BNSS">BNSS</option>
                            <option value="POCSO">POCSO</option>
                            <option value="Child Marriage Act">Child Marriage Act</option>
                            <option value="Women Harassment Act">Women Harassment Act</option>
                            <option value="PPDL">PPDL</option>
                            <option value="Others">Others</option>
                          </select>
                        </div>
          
                        <div class="col-md-5 float-left">
                          <input type="text" id="sectionName{{ i }}-{{ j }}" class="form-control" formControlName="Section" placeholder="Enter section name" />
                        </div>
          
                        <div class="col-md-2 text-center float-left">
                          <button *ngIf="j !== 0" type="button" class="btn btn-danger btn-sm" (click)="removeSection(i, j)">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row mt-4">
          <div class="col-md-6 mb-3">
            <label for="isDeceased" class="form-label d-block">33. Has the victim deceased due to the offence? *</label>
            <select id="isDeceased" class="form-select" formControlName="isDeceased" (change)="onIsDeceasedChangeOutside()" required>
              <option value="" disabled>Select an option</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div class="col-md-6 mb-3" *ngIf="firForm.get('isDeceased')?.value === 'yes'">
            <label class="form-label">34. Name(s) of the deceased person *</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select deceased person names</mat-label>
              <mat-select formControlName="deceasedPersonNames" multiple>
                <mat-option *ngFor="let name of victimNames" [value]="name">{{ name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div> -->
        <div class="mt-4">
          <button type="button" class="btn btn-primary me-2"  (click)="AlterSave()">Submit</button>
        </div>
      </div>
    </form>
</div>


<style>
  .inactive {
  pointer-events: none;   /* Prevents all mouse interactions */
  opacity: 0.6;           /* Makes it look disabled */
  background-color: #e9ecef !important; /* Light gray bg */
/*  color: #eef0f1 !important;  Dimmed text color */
  cursor: not-allowed;    /* Shows "not allowed" cursor */
}
</style>