<div class="card-header">
    <div class="card-title">
        <h5 class="card-title" style="font-size: 18px;font-weight: 500;">Annual Overview of Registred Cases</h5>
    </div>
</div>
<!-- <div class="card-body">
    <canvas id="barChartannual" style="width: 100%;"></canvas>
</div> -->
<div id="chart">
    <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [dataLabels]="chartOptions.dataLabels!"
        [plotOptions]="chartOptions.plotOptions!" [responsive]="chartOptions.responsive!" [xaxis]="chartOptions.xaxis!"
        [legend]="chartOptions.legend!" [fill]="chartOptions.fill!" *ngIf="chartOptions?.series"></apx-chart>
</div>
<app-loading-dash *ngIf="loading"/>