<section class="cards my-5">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 card-box">
            <div class="case red">
                <img src="assets/images/hammer.png" alt="" height="50px">
                <div>
                    <p>Total Additional Relief Cases</p>
                    <p>{{ total_records }}</p>
                </div>
            </div>
            <div class="filter red">
                <p>Filtered Cases</p>
                <p>{{additional_filter}}</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 card-box">
            <div class="case red">
                <img src="assets/images/hammer.png" alt="" height="50px">
                <div>
                     <p>Total Before 14/04/2016 Cases</p>
                    <p>{{ before_2016 }}</p>
                </div>
            </div>
            <div class="filter red">
                <p>Filtered Cases</p>
                <p>{{before_filter}}</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 card-box">
            <div class="case red">
                <img src="assets/images/hammer.png" alt="" height="50px">
                <div>
                     <p>Total After 14/04/2016  Cases</p>
                    <p>{{after_2016}}</p>
                </div>
            </div>
            <div class="filter red">
                <p>Filtered Cases</p>
                <p>{{after_filter}}</p>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 card-box my-5">
           <div class="card text-center">
              <div class="card-header p-4">
                <h4 class="mb-0">Before Relief Status</h4>
              </div>
            <div class="card-body px-10">
                <canvas #beforeChartCanvas></canvas>
            </div>
        </div>
        </div>

        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6 card-box my-5">
             <table class="custom-table">
      <thead>
        <tr>
         <th colspan="4">Before Given Status</th> 
        </tr>
        <tr>
          <th>Job</th>
          <th>Pension</th>
          <th>Patta</th>
          <th>Education Concession</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{ reliefJob }}</td>
            <td>{{ reliefPension }}</td>
            <td>{{ reliefPatta }}</td>
            <td>{{ reliefEducation }}</td>
        </tr>
        </tbody>

        </table>
        </div>
      </div>
    <app-loading-dash *ngIf="loading"/>
</section>