.cards{
    margin-top: 1rem;
    position: relative;
}

.card-box{
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    padding: 0.2rem;
}
.case{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-weight: 600;
}
p{
    color: #fff;
    font-weight: 600;
}
.filter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.case,.filter{
    flex: 1;
    padding: 1rem;
}

.red{
    // background-color:#e380a8;
    background-color: #d64550;
}
.blue{
    background-color:#48327a;
}
.table-container {
    overflow-x: auto;
    width: 100%;
    height: 40dvh;
  }
  .grid-top{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}
.chart-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  canvas {
    width: 200px !important;
    height: 200px !important;
  }
}

.card-header{
  min-height: 0px;
}
.card{
  border:1px solid #000;
}
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .custom-table th {
    background-color: #79829d;
    color: white;
    padding: 5px;
    text-align: left;
  }
  
  .custom-table td {
    padding: 5px;
    border: 1px solid #ddd;
  }
  
  .row-white {
    background-color: white;
  }
  
  .row-gray {
    background-color: #f2f2f2;
  }
  .col-md-4{
    float:left;
  }
  