<section class="home">
  <div class="row">
    <app-carousel/>
  </div>
  <!-- <div class="row mt-4">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2 px-4">
      <video src="assets/videos/video1.mp4" class="d-block w-100 br-11" controls></video>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 px-4">
      <div class="row">
        <ng-container *ngFor="let image of imageUrls; let i = index">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2 px-2">
            <img [src]="image" alt="" class="d-block w-100 br-11">
          </div>
        </ng-container>
      </div>
    </div>
  </div> -->
  <!-- <div class="row mt-5 emerging-trends">
    <h2>Emerging Trends</h2>
    <div class="relative">
      <div class="scroll-wrapper">
        <div class="overflow-container-top">
          <div class="scroll-content">
            <ng-container *ngFor="let trend of trendData">
              <div class="trend-box" [ngClass]="trend.color">
                <p class="icon">{{trend.icon}}</p>
                <h3 class="title">{{trend.title}}</h3>
                <p class="description">{{trend.description}}</p>
              </div>
            </ng-container>
            <ng-container *ngFor="let trend of trendData">
              <div class="trend-box" [ngClass]="trend.color">
                <p class="icon">{{trend.icon}}</p>
                <h3 class="title">{{trend.title}}</h3>
                <p class="description">{{trend.description}}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      
      <div class="scroll-wrapper">
        <div class="overflow-container-bottom">
          <div class="scroll-content">
            <ng-container *ngFor="let trend of trendData">
              <div class="trend-box" [ngClass]="trend.color">
                <p class="icon">{{trend.icon}}</p>
                <h3 class="title">{{trend.title}}</h3>
                <p class="description">{{trend.description}}</p>
              </div>
            </ng-container>
            <ng-container *ngFor="let trend of trendData">
              <div class="trend-box" [ngClass]="trend.color">
                <p class="icon">{{trend.icon}}</p>
                <h3 class="title">{{trend.title}}</h3>
                <p class="description">{{trend.description}}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      
      <div class="gradient-box-left"></div>
      <div class="gradient-box-right"></div>
    </div>
  </div> -->
  <!-- <div class="row intiatives">
    <h2>Key Initiatives</h2>
    <div class="row">
      <ng-container *ngFor="let item of initiatives;let i=index">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 px-3">
          <div class="initiatives-box">
            <p class="icon">{{item.icon}}</p>
            <h3 class="title">{{item.title}}</h3>
            <p class="description">{{item.description}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div> -->
</section>
