* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-header {
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #333;
}

.card-title,
.card-body,
h2,
h3,
h5,
h6,
span,
strong {
    font-family: 'Lato', sans-serif;
}

.card-body {
    padding: 1.5rem;
}

.legend {
    // position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f0f0f0;
    /* Set background color for the legend */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.legenditem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.chart-legend {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
  }

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.svg-container {
    flex: 1;
}

.red {
    background-color: #e12a2a;
  }
  
  .blue {
    background-color: #3e42ea;
  }
  .dropdown-toggle {
  border: none;
  background: none;
  color: #007bff;
  font-size: 14px;
  transition: 0.2s;
}

.dropdown-toggle:hover {
  color: #0056b3;
  background: #e7f1ff;
}

.dropdown-menu a {
  cursor: pointer;
  padding: 7px;
}
