<div class="card">
    <div class="card-header mt-0 p-4">
      <h2 class="card-title" style="font-size: 1.8rem; font-weight: 700">Meeting Dashboard</h2>
    </div>
    <div class="card-body">
  
      <div class="filter-bar-container mb-4">
              <div class="filter-item">
                <select class="filter-select" [(ngModel)]="selectedFilters.status" (change)="applyFilters()">
                  <option value="" disabled selected>Financial Year</option>
                  <!-- <option *ngFor="let option of filterOptions.status" [value]="option.key">
                    {{ option.value }}
                  </option> -->
                </select>
              </div>
            
              <div class="filter-item">
                <select class="filter-select" [(ngModel)]="selectedFilters.district" (change)="applyFilters()">
                  <option value="" disabled selected>Quarter</option>
                  <!-- <option *ngFor="let option of filterOptions.district" [value]="option">
                    {{ option }}
                  </option> -->
                </select>
              </div>

              <div class="filter-item">
                <select class="filter-select" [(ngModel)]="selectedFilters.district" (change)="applyFilters()">
                  <option value="" disabled selected>District</option>
                  <!-- <option *ngFor="let option of filterOptions.district" [value]="option">
                    {{ option }}
                  </option> -->
                </select>
              </div>
            
              <div class="filter-item">
                <select class="filter-select" [(ngModel)]="selectedFilters.caste" (change)="applyFilters()">
                  <option value="" disabled selected>Sub Division</option>
                  <!-- <option *ngFor="let option of filterOptions.caste" [value]="option">
                    {{ option }}
                  </option> -->
                </select>
              </div>
            
          </div>

          <div class="divider-div">
            State Level - SLVMC
          </div>

          <div class="row text-center">
            <div class="col-md-2" style="flex: 2.5;" *ngFor="let card of headerCards3">
              <div class="card text-center mb-3">
                <div style="padding: 0.5rem;border: 0.1px solid #f7f5f5;border-radius: 9px;"
                  class="card-body d-flex align-items-center justify-content-between">
                  <!-- <img src="assets/icons/v1/totalCases.png" alt="Case Icon" class="img-fluid" style="max-width: 120px"/> -->
                  <div class="text-center" style="margin: auto">
                    <h5 class="card-title" style="font-size: 1.275rem; font-weight: 500">{{ card.title }}</h5>
                    <strong>{{ card.value }}</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;

          <div class="divider-div">
            DLVMC and SDLVMC
          </div>
  
      <div class="row text-center">
        <div class="col-md-2" style="flex: 2.5;" *ngFor="let card of headerCards">
          <div class="card text-center mb-3">
            <div style="padding: 0.5rem;border: 0.1px solid #f7f5f5;border-radius: 9px;"
              class="card-body d-flex align-items-center justify-content-between">
              <!-- <img src="assets/icons/v1/totalCases.png" alt="Case Icon" class="img-fluid" style="max-width: 120px"/> -->
              <div class="text-center" style="margin: auto">
                <h5 class="card-title" style="font-size: 1.275rem; font-weight: 500">{{ card.title }}</h5>
                <strong>{{ card.value }}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      &nbsp;
      &nbsp;

      <div class="row text-center">
        <div class="col-md-2" style="flex: 2.5;" *ngFor="let card of headerCards">
          <div class="card text-center mb-3">
            <div style="padding: 0.5rem;border: 0.1px solid #f7f5f5;border-radius: 9px;"
              class="card-body d-flex align-items-center justify-content-between">
              <!-- <img src="assets/icons/v1/totalCases.png" alt="Case Icon" class="img-fluid" style="max-width: 120px"/> -->
              <div class="text-center" style="margin: auto">
                <h5 class="card-title" style="font-size: 1.275rem; font-weight: 500">{{ card.title }}</h5>
                <strong>{{ card.value }}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="padding: 13px;"></div>

      <div style="display: flex;">
        <div class="card shadow-sm col-md-6">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="card-title" style="font-size: 1.275rem; font-weight: 500">District Level Meeting Details</h5>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered align-middle">
                <thead class="bg-light">
                  <tr>
                    <th style="font-size: 1.275rem; font-weight: 500">District</th>
                    <th style="font-size: 1.275rem; font-weight: 500">Q1</th>
                    <th style="font-size: 1.275rem; font-weight: 500">Q2</th>
                    <th style="font-size: 1.275rem; font-weight: 500">Q3</th>
                    <th style="font-size: 1.275rem; font-weight: 500">Q4</th>
                    <th style="font-size: 1.275rem; font-weight: 500">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let caseItem of redZoneCases">
                    <td>{{ caseItem.District }}</td>
                    <td>{{ caseItem.Q1 }}</td>
                    <td>{{ caseItem.Q2 }}</td>    
                    <td>{{ caseItem.Q3 }}</td>
                    <td>{{ caseItem.Q4 }}</td>
                    <td>{{ caseItem.Total }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div style="flex: 0.5;"></div>
  
        <div class="col-md-6">
          <div class="card">
         <div class="card-header">
          <h5 class="card-title" style="font-size: 18px;font-weight: 500;">District Wise Meeting Distribution</h5>
        </div>
        <div class="card-body d-flex align-items-start">
          <!-- SVG -->
          <div class="svg-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1591.1 1975.3" height="300px" width="500px">
            <ng-container *ngFor="let district of districtData">
              <path
              class="st0"
              [attr.id]="district.id"
              [attr.d]="getPath(district.id)"
              [attr.fill]="getDistrictColor(district.data.count)"
              matTooltip="{{ district.name }} - Count: {{ district.data.count }}"
              matTooltipPosition="above"
              (click)="onDistrictClick(district)"
              (mouseover)="onHover(district)"
              (mouseout)="onHoverOut()"
              ></path>
            </ng-container>
            </svg>
          </div>
  
          <!-- Legend -->
          <div class="legend">
            <div class="legenditem">
            <span class="dot" style="background-color: green;"></span> Normal
            </div>
            <div class="legenditem">
            <span class="dot" style="background-color: yellow;"></span> Mild
            </div>
            <div class="legenditem">
            <span class="dot" style="background-color: red;"></span> Critical
            </div>
          </div>
          </div>
  
          </div>
        </div>
      </div>

      <div class="divider-div">
        District Level
      </div>

      <div style="display: flex;">

        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h5 class="card-title" style="font-size: 18px;font-weight: 500;">Quarter Wise SDLVMC Meeting Status</h5>
              </div>
            </div>
            <div class="card-body">
              <canvas id="barChart32" style="max-height: 300px; width: 100%;"></canvas>
            </div>
          </div>
        </div>

        <div class="card shadow-sm col-md-6">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="card-title" style="font-size: 1.275rem; font-weight: 500">Sub Division Level Meeting Details</h5>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered align-middle">
                <thead class="bg-light">
                  <tr>
                    <th style="font-size: 1.275rem; font-weight: 500">Sub Division</th>
                    <th style="font-size: 1.275rem; font-weight: 500">Q1</th>
                    <th style="font-size: 1.275rem; font-weight: 500">Q2</th>
                    <th style="font-size: 1.275rem; font-weight: 500">Q3</th>
                    <th style="font-size: 1.275rem; font-weight: 500">Q4</th>
                    <th style="font-size: 1.275rem; font-weight: 500">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let caseItem of redZoneCases2">
                    <td>{{ caseItem.District }}</td>
                    <td>{{ caseItem.Q1 }}</td>
                    <td>{{ caseItem.Q2 }}</td>    
                    <td>{{ caseItem.Q3 }}</td>
                    <td>{{ caseItem.Q4 }}</td>
                    <td>{{ caseItem.Total }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      

     
    </div>
  </div>
  