<h2 class="text-center mt-3">SDLVMC Table</h2>
<div class="table-container card">
  <table class="responsive-table">
    <thead>
      <tr>
        <th>Location</th>
        <th>Q1</th>
        <th>Q2</th>
        <th>Q3</th>
        <th>Q4</th>
        <th>Total Members</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td>{{ row.location }}</td>
        <td>{{ row.q1 }}</td>
        <td>{{ row.q2 }}</td>
        <td>{{ row.q3 }}</td>
        <td>{{ row.q4 }}</td>
        <td>{{ row.total_member_count }}</td>
      </tr>
    </tbody>
  </table>
  <app-loading-dash *ngIf="loading" />
</div>