      <div class="loader-overlay" *ngIf="loader">
       <mat-spinner></mat-spinner>
      </div>
<div class="card">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <div class="d-flex align-items-center position-relative my-1">
        <i class="fas fa-search fs-3 position-absolute ms-5"></i>
        <input type="text" [(ngModel)]="searchText" (input)="applyFilters()"
          class="form-control form-control-solid w-250px ps-12" placeholder="Search Reports" />
      </div>
    </div>
    <!-- Drop List for columns -->
    <div class="toolbar mb-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select Columns</mat-label>
        <mat-select [(ngModel)]="selectedColumns" (selectionChange)="onColumnSelectionChange()" multiple>
          <mat-option *ngFor="let column of displayedColumns" [value]="column.field">
            {{ column.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div class="row d-flex mb-3 align-items-center outer pt-4 pb-2 px-3 m-0 mx-8">
      <div class="col-xl-3 col-lg-3 col-md-4 mb-3" *ngIf="Parsed_UserInfo.access_type != 'District'">
        <select class="form-select" [(ngModel)]="selectedDistrict">
          <option value="" selected>District</option>
          <option *ngFor="let district of districts" [value]="district">{{ district }}</option>
        </select>
      </div>

        <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
        <select name="" id="" [(ngModel)]="selectedPoliceCity" class="form-select">
          <option value="">Police City</option>
          <option [value]="city.police_city" *ngFor="let city of policeCities">{{city.police_city}}</option>
        </select>
      </div>

        <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
        <select name="" id="" [(ngModel)]="selectedZone" class="form-select">
          <option value="">Police Zone</option>
          <option [value]="zone.police_zone" *ngFor="let zone of zones">{{zone.police_zone}}</option>
        </select>
      </div>

        <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
        <select name="" id="" [(ngModel)]="selectedCommunity" (change)="getCaste()" class="form-select">
          <option value="">Community</option>
          <option [value]="community" *ngFor="let community of communities">{{community}}</option>
        </select>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
        <select class="form-select" [(ngModel)]="selectedCaste">
          <option value="" selected>Caste</option>
          <option *ngFor="let option of castes" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
        <select class="form-select" [(ngModel)]="selectedStatus">
          <option value="" selected>Status Of Case</option>
          <option *ngFor="let option of status" [value]="option.key">
            {{ option.value }}
          </option>
        </select>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-4 mb-3 tooltip-container">
        <input type="date" class="form-control" [(ngModel)]="selectedFromDate"/>
        <span class="tooltip-text">Date of Registration From Date</span>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 mb-3 tooltip-container">
        <input type="date" class="form-control" [(ngModel)]="selectedToDate"/>
        <span class="tooltip-text">Date of Registration To Date</span>
      </div>

      <div class="col-xl-5 col-lg-3 col-md-4 mb-3">
        <button (click)="applyFilters()" class="btn btn-primary btn-sm">Apply Filters</button>
        <button (click)="clearfilter()" class="btn btn-secondary btn-sm" style="margin-left: 5px;">Clear</button>
      </div>

      <!-- <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
        <button (click)="clearfilter()" class="btn btn-primary btn-sm">Clear Filters</button>
      </div> -->
    </div>

  <div class="card-body pt-0">
    <!-- Filters -->
    <!-- <div class="d-flex gap-3 mb-3">
      <select class="form-select" [(ngModel)]="selectedDistrict" (change)="applyFilters()">
        <option value="" selected>Select One</option>
        <option *ngFor="let district of districts" [value]="district">{{ district }}</option>
      </select>

      <select class="form-select" [(ngModel)]="selectedNatureOfOffence" (change)="applyFilters()">
        <option value="" selected>Select One</option>
        <option *ngFor="let nature of naturesOfOffence" [value]="nature">{{ nature }}</option>
      </select>

      <select class="form-select" [(ngModel)]="selectedStatusOfCase" (change)="applyFilters()">
        <option value="" selected>Select One</option>
        <option *ngFor="let status of statusesOfCase" [value]="status">{{ status }}</option>
      </select>

      <select class="form-select" [(ngModel)]="selectedStatusOfRelief" (change)="applyFilters()">
        <option value="" selected>Select One</option>
        <option *ngFor="let reliefStatus of statusesOfRelief" [value]="reliefStatus">
          {{ reliefStatus }}
        </option>
      </select>
    </div> -->

    <div class="card-body pt-0 px-0 overflow-auto" style="width: 100%; overflow-y: auto; overflow-x: auto; min-height: 500px; padding-right:0px !important;">
      <table class="table table-striped table-bordered table-hover">
       
       <thead>
  <tr>
    <!-- Pre-group columns -->
    <th *ngFor="let col of preGroupedColumns" rowspan="2">{{ col.label }}</th>
 
    <!-- Grouped headers -->
    <th *ngFor="let groupName of groupOrder" [attr.colspan]="groupedBySection[groupName]?.length">
      {{ groupName }}
    </th>
 
    <!-- Post-group columns -->
    <th *ngFor="let col of postGroupedColumns" rowspan="2">{{ col.label }}</th>
  </tr>
 
  <tr>
    <!-- Sub-columns inside group -->
    <ng-container *ngFor="let groupName of groupOrder">
      <th *ngFor="let col of groupedBySection[groupName]" style="background-color: #0da9bc !important; border-top:1px solid #fff; border-radius: 0px !important;">{{ col.label }}</th>
    </ng-container>
  </tr>
</thead>

        <tbody>
          <tr *ngFor="let report of paginatedData(); let i=index;" [ngClass]="{ 'table-row-odd': i % 2 === 0, 'table-row-even': i % 2 !== 0 }">
            <td *ngFor="let column of displayedColumns; let i = index" [hidden]="!column.visible"
            [style.text-align]="i > 1 ? 'right' : 'left'">
              <ng-container [ngSwitch]="column.field">

              
                <!-- Default Case -->
                <span *ngSwitchDefault>{{ report[column.field] }}</span>
              </ng-container>
            </td>
          </tr>
          <tr style="font-weight:bold; background-color: #e0f7f9 !important;">
  <!-- First two columns merged -->
  <td [attr.colspan]="2" style="text-align:left;">Total</td>

  <!-- Remaining numeric columns -->
  <td *ngFor="let column of displayedColumns.slice(2)" [hidden]="!column.visible" style="text-align: right;">
    <span *ngIf="column">{{ getTotals()[column.field] }}</span>
    <span *ngIf="!column"></span>
  </td>
</tr>

        </tbody>
      </table>
      <!-- Show message if data is loading -->
      <div *ngIf="loading" class="alert alert-warning">Loading...</div>
      <!-- Show message if filtered data is empty -->
      <div *ngIf="filteredData.length === 0 && !loading" class="alert alert-warning">No FIR data available.</div>
      <!-- <button style="margin-left: 5px;" class="btn btn-primary mt-3" (click)="onBtnExport()">Download as Excel</button> -->
      <div class="mt-3 float-right">
  <button class="btn btn-primary me-2 py-2 px-3" (click)="onBtnExport()">
    <i class="fas fa-download me-1"></i> Excel
  </button> </div>
      <nav *ngIf="filteredData.length > itemsPerPage" class="d-flex justify-content-end mt-3">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="page === 1">
            <button class="page-link" (click)="previousPage()">Previous</button>
          </li>
          <li class="page-item" *ngFor="let pageNum of totalPagesArray()">
            <button class="page-link" (click)="goToPage(pageNum)" [class.active]="page === pageNum">
              {{ pageNum }}
            </button>
          </li>
          <li class="page-item" [class.disabled]="page === totalPages()">
            <button class="page-link" (click)="nextPage()">Next</button>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<style>
  .loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .tooltip-container {
    position: relative;
    display: inline-block;
  }

  .tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 6px 8px;
    border-radius: 5px;
    position: absolute;
    top: -35px;
    /* Position above the input */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
</style>