<section class="cards">
    <h2>State level - SLVMC</h2>
    <div class="topcards">
        <div class="card">
            <div class="inner-card">
                <p>Calendar Year</p>
                <h3>ALL</h3>
            </div>
        </div>
        <div class="card">
            <div class="inner-card">
                <p></p>
                <h3></h3>
            </div>
        </div>
        <div class="card">
            <div class="inner-card">
                <p></p>
                <h3></h3>
            </div>
        </div>
    </div>
</section>
<section>
    <h2 class="mb-3">DLVMC and SDLVMC</h2>
    <div class="row justify-content-between">
        <div class="card col-xl-2 col-lg-2 col-md-2">
            <div class="inner-card">
                <p>Total DLVMC Meeting Per Quarter</p>
                <h3>{{cardDetails.Total_dlvmc_meeting_as_per_quarter}}</h3>
            </div>
        </div>
        <div class="card col-xl-2 col-lg-2 col-md-2">
            <div class="inner-card">
                <p>Total Meetings Conducted Q1</p>
                <h3>{{cardDetails.Total_dlvmc_meting_conducted_q1}}</h3>
            </div>
        </div>
        <div class="card col-xl-2 col-lg-2 col-md-2">
            <div class="inner-card">
                <p>Total Meetings Conducted Q2</p>
                <h3>{{cardDetails!.Total_dlvmc_meting_conducted_q2}}</h3>
            </div>
        </div>
        <div class="card col-xl-2 col-lg-2 col-md-2">
            <div class="inner-card">
                <p>Total Meetings Conducted Q3</p>
                <h3>{{cardDetails!.Total_dlvmc_meting_conducted_q3}}</h3>
            </div>
        </div>
        <div class="card col-xl-2 col-lg-2 col-md-2">
            <div class="inner-card">
                <p>Total Meetings Conducted Q4</p>
                <h3>{{cardDetails!.Total_dlvmc_meting_conducted_q4}}</h3>
            </div>
        </div>
    </div>
    <div class="row justify-content-between mt-3">
        <div class="card col-xl-2 col-lg-2 col-md-2">
            <div class="inner-card">
                <p>Total NO. of Sub Divisions Meetings</p>
                <h3>{{cardDetails!.Total_No_of_Sub_dividion_meeting}}</h3>
            </div>
        </div>
        <div class="card col-xl-2 col-lg-2 col-md-2">
            <div class="inner-card">
                <p>Total Meetings Conducted Q1</p>
                <h3>{{cardDetails!.Total_sdlvmc_meting_conducted_q1}}</h3>
            </div>
        </div>
        <div class="card col-xl-2 col-lg-2 col-md-2">
            <div class="inner-card">
                <p>Total Meetings Conducted Q2</p>
                <h3>{{cardDetails!.Total_sdlvmc_meting_conducted_q2}}</h3>
            </div>
        </div>
        <div class="card col-xl-2 col-lg-2 col-md-2">
            <div class="inner-card">
                <p>Total Meetings Conducted Q3</p>
                <h3>{{cardDetails!.Total_sdlvmc_meting_conducted_q3}}</h3>
            </div>
        </div>
        <div class="card col-xl-2 col-lg-2 col-md-2">
            <div class="inner-card">
                <p>Total Meetings Conducted Q4</p>
                <h3>{{cardDetails!.Total_sdlvmc_meting_conducted_q4}}</h3>
            </div>
        </div>
    </div>
</section>