<div style="height: 200px;overflow: scroll;">
    {{zone}}
    <table class="Progresstable-top">
        <thead>
            <tr>
                <th>Year</th>
                <th *ngIf="zone=='Central Zone' || !zone">Central Zone</th>
                <th *ngIf="zone=='West Zone' || !zone">West Zone</th>
                <th *ngIf="zone=='North Zone' || !zone">North Zone</th>
                <th *ngIf="zone=='South Zone' || !zone">South Zone</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of zonewise">
                <td (click)="emitYear(item)" class="year">{{item.year}}</td>
                <td *ngIf="zone=='Central Zone' || !zone">{{item.cz}}</td>
                <td *ngIf="zone=='West Zone' || !zone">{{item.wz}}</td>
                <td *ngIf="zone=='North Zone' || !zone">{{item.nz}}</td>
                <td *ngIf="zone=='South Zone' || !zone">{{item.sz}}</td>
                <td>{{item.cz + item.wz + item.nz + item.sz}}</td>
            </tr>
        </tbody>
    </table>
</div>
<app-loading-dash *ngIf="loading"/>