<section class="about">
    <div class="row">
        <div class="header">
            <h1 class="heading">{{lang.lang.tnsc_title}}</h1>
            <p class="subheading">{{lang.lang.tnsc_description}}</p>
        </div>
    </div>
    <div class="row mid">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <img src="assets/images/slide4.jpg" alt="" class="">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 content">
            <h2>{{lang.lang.tnsc_title}}</h2>
            <ng-container *ngFor="let item of lang.lang.tnsc_content">
                <p>{{item}}</p>
            </ng-container>
        </div>
    </div>
</section>