<section class="about">
    <div class="row">
        <app-carousel/>
      </div>
    <div class="row">
        <div class="header">
            <h1 class="heading">Adi Dravidar and Tribal Welfare Department</h1>
            <p class="subheading">Established in 1988, is dedicated to enhancing the literacy levels and socio-economic
                conditions of Adi Dravidar and Tribal communities</p>
        </div>
    </div>
    <div class="row mid">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <img src="assets/images/slide4.jpg" alt="" class="">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 content">
            <h2>Adi Dravidar and Tribal Welfare Department</h2>
            <p>The Adi Dravidar and Tribal Welfare Department, established in 1988, is dedicated to enhancing the
                literacy levels and socio-economic conditions of Adi Dravidar and Tribal communities. Through targeted
                programs, the department works to uplift their standard of living.</p>
            <p>It comprises key institutions, including the Directorate of Adi Dravidar Welfare, Directorate of Tribal
                Welfare, Social Justice and Human Rights Police Wing, Tamil Nadu Adi Dravidar Housing and Development
                Corporation (TAHDCO), Tamil Nadu State Commission for Adi Dravidar and Tribal Affairs, Tribal Research
                Centre, Centre for Social Justice and Equity, and various welfare boards.</p>
            <p>
                8 Regional Offices located at Chennai, Vellore, Coimbatore, Trichy, Madurai, Tirunelveli, Dharmapuri and
                Thanajur are functioning under the administrative control of the Directorate of Collegiate Education
                Each Regional office is headed by a Joint Director of Collegiate Education. Each Regional office is
                headed by a Joint Director of Collegiate Education. The Regional offices attend to the works relating to
                the Aided colleges in the respective regions like release of monthly salary grant, approval of
                appointments, auditing of accounts etc.
            </p>
            <p>
                The Directorate of Adi Dravidar Welfare focuses on community development, housing assistance, and
                educational programs such as scholarships, overseas study support, and hostel facilities.
            </p>
            <p>
                The Directorate of Tribal Welfare oversees Tribal Residential Schools, Eklavya Model Residential
                Schools, and Comprehensive Tribal Development Programs, ensuring infrastructure development, livelihood
                support, and the protection of tribal rights under the Forest Rights Act, 2006.
            </p>
            <p>
                The Social Justice and Human Rights Wing enforces the Protection of Civil Rights Act, 1955, and the
                SC/ST (Prevention of Atrocities) Act, 1989 (amended in 2015), with oversight from the State-Level
                Vigilance Committee, chaired by the Hon’ble Chief Minister.
            </p>
            <p>
                TAHDCO promotes economic development through subsidized projects, skill training, and construction
                initiatives for Adi Dravidar and Tribal communities.
            </p>
            <p>
                The Tamil Nadu State Commission for Adi Dravidars and Tribes, formed in 2021, safeguards constitutional
                rights and protections for these communities.
            </p>
            <p>
                The Tribal Research Centre, established in 1983-84 in the Nilgiris, studies the culture, traditions, and
                languages of Tamil Nadu’s 37 tribal communities and preserves tribal heritage.
            </p>
            <p>
                The Centre for Social Justice and Equity, in collaboration with the Madras School of Social Work,
                conducts research, offers courses, and organizes seminars on social justice issues.
            </p>
        </div>
    </div>
    <!-- <div class="row table-div">
        <h2>College Statistics Overview</h2>
        <div class="div-table">
            <table class="table table-hover">
                <thead>
                    <tr class="table-row">
                        <th>Types of Colleges</th>
                        <th>Government Colleges</th>
                        <th>Government Aided Colleges</th>
                        <th>Self Financing Colleges</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of collegeData">
                        <td>{{item.type}}</td>
                        <td>{{item.government}}</td>
                        <td>{{item.aided}}</td>
                        <td>{{item.selfFinancing}}</td>
                        <td>{{item.total}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>171</td>
                        <td>162</td>
                        <td>1293</td>
                        <td>1626</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row bottom">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 px-4">
            <h2>Chief Minister's Research Fellowship (CMRF)</h2>
            <div class="block-box">
                <p class="b-des">During the Vice Chancellor's Conference held on 30.08.2022, the Hon'ble Chief Minister
                    of Tamilnadu
                    made the following announcement:-</p>
                <p class="b-block">"நம்முடைய மாணவர்களின் ஆராய்ச்சி திறமையை மேம்படுத்தவும், புதிய கண்டுபிடிப்புகளைத்
                    தமிழ்நாட்டில் ஊக்கப்படுத்தவும் "Chief Minister Research Fellowship" "முதலமைச்சரின் ஆராய்ச்சி
                    ஊக்கத்தொகை" திட்டம் தொடங்கப்படும் இதற்காக மாநில அளவில் தகுதிதிட்டத் தேர்வு நடத்தப்பட்டு மாணவர்கள்
                    தேர்வு செய்யப்படுவார்கள்"</p>
            </div>
            <p>Based on the Hon'ble Chief Minister of Tamilnadu announcement on 30.08.2022, the G.O.(Ms).No.53 by Higher
                Education (G1) Department dated 27.02.2023 was issued for the Chief Minister Research Fellowship (CMRF)
                Scheme. The Main objective of the Chief Minister Research Fellowship is to provide a research platform
                for the meritorious poor post graduates, to develop professional / academic research careers under the
                mentorship of an established researcher and to make Tamilnadu the "Research Hub".</p>
            <p>
                The aim of this CMRF Scheme is to award research fellowship to scholars to do full time Ph.D. Programme.
                Eligible scholars will be offered monthly fellowship of Rs.25,000/- and an annual contingency grant of
                Rs.10,000/- for Arts, Humanities, Social Science etc and Rs. 12,000/- for Science, Technical Stream for
                a maximum period of 3 years. State Level Qualifying Examination will be conducted by Teachers
                Recruitment Board every year.
            </p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 px-4">
            <img src="assets/images/about1.png" alt="" class="d-block w-100" style="border-radius: 15px;">
        </div>
    </div> -->
</section>