<section class="about">
    <div class="row">
        <div class="header">
            <h1 class="heading">DIRECTORATE OF COLLEGIATE EDUCATION</h1>
            <p class="subheading">The Directorate of Collegiate Education was carved out of the erstwhile Directorate of
                Public Instruction in the year 1965 with a view to administer exclusively the Collegiate Education</p>
        </div>
    </div>
    <div class="row mid">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <img src="assets/images/slide2.png" alt="" class="">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 content">
            <h2>Directorate of Collegiate Education</h2>
            <p>The Directorate of Collegiate Education was carved out of the erstwhile Directorate of Public Instruction
                in the year 1965 with a view to administer exclusively the Collegiate Education. Tamil Nadu enjoys the
                privilege of being one of the most developed states in the Country in the field of Higher Education. 27
                Universities are functioning in Tamilnadu and of these 12 Universities are getting their Block Grants
                from the Government of Tamilnadu through the Directorate of Collegiate Education.</p>
            <p>
                In the Head office, the Director is assisted by two Joint Directors of Collegiate Education viz., Joint
                Director of Collegiate Education (Finance) who is in charge of the works relating to the Aided colleges
                in the State and the Joint Director of Collegiate Education (Planning & Development) who is in charge of
                the works relating to the Government Constituent Colleges in the State. The Financial Adviser and the
                Chief Accounts Officer and the Senior Accounts Officer in the Directorate assists the Director in the
                Budgetary control and other financial related matters. A Legal cell headed by a Law Officer is also
                functioning in the Directorate which deals with the court cases relating to the department.
            </p>
            <p>
                8 Regional Offices located at Chennai, Vellore, Coimbatore, Trichy, Madurai, Tirunelveli, Dharmapuri and
                Thanajur are functioning under the administrative control of the Directorate of Collegiate Education
                Each Regional office is headed by a Joint Director of Collegiate Education. Each Regional office is
                headed by a Joint Director of Collegiate Education. The Regional offices attend to the works relating to
                the Aided colleges in the respective regions like release of monthly salary grant, approval of
                appointments, auditing of accounts etc.
            </p>
        </div>
    </div>
    <div class="row table-div">
        <h2>College Statistics Overview</h2>
        <div class="div-table">
            <table class="table table-hover">
                <thead>
                    <tr class="table-row">
                        <th>Types of Colleges</th>
                        <th>Government Colleges</th>
                        <th>Government Aided Colleges</th>
                        <th>Self Financing Colleges</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of collegeData">
                        <td>{{item.type}}</td>
                        <td>{{item.government}}</td>
                        <td>{{item.aided}}</td>
                        <td>{{item.selfFinancing}}</td>
                        <td>{{item.total}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>171</td>
                        <td>162</td>
                        <td>1293</td>
                        <td>1626</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row bottom">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 px-4">
            <h2>Chief Minister's Research Fellowship (CMRF)</h2>
            <div class="block-box">
                <p class="b-des">During the Vice Chancellor's Conference held on 30.08.2022, the Hon'ble Chief Minister
                    of Tamilnadu
                    made the following announcement:-</p>
                <p class="b-block">"நம்முடைய மாணவர்களின் ஆராய்ச்சி திறமையை மேம்படுத்தவும், புதிய கண்டுபிடிப்புகளைத்
                    தமிழ்நாட்டில் ஊக்கப்படுத்தவும் "Chief Minister Research Fellowship" "முதலமைச்சரின் ஆராய்ச்சி
                    ஊக்கத்தொகை" திட்டம் தொடங்கப்படும் இதற்காக மாநில அளவில் தகுதிதிட்டத் தேர்வு நடத்தப்பட்டு மாணவர்கள்
                    தேர்வு செய்யப்படுவார்கள்"</p>
            </div>
            <p>Based on the Hon'ble Chief Minister of Tamilnadu announcement on 30.08.2022, the G.O.(Ms).No.53 by Higher
                Education (G1) Department dated 27.02.2023 was issued for the Chief Minister Research Fellowship (CMRF)
                Scheme. The Main objective of the Chief Minister Research Fellowship is to provide a research platform
                for the meritorious poor post graduates, to develop professional / academic research careers under the
                mentorship of an established researcher and to make Tamilnadu the "Research Hub".</p>
            <p>
                The aim of this CMRF Scheme is to award research fellowship to scholars to do full time Ph.D. Programme.
                Eligible scholars will be offered monthly fellowship of Rs.25,000/- and an annual contingency grant of
                Rs.10,000/- for Arts, Humanities, Social Science etc and Rs. 12,000/- for Science, Technical Stream for
                a maximum period of 3 years. State Level Qualifying Examination will be conducted by Teachers
                Recruitment Board every year.
            </p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 px-4">
            <img src="assets/images/about1.png" alt="" class="d-block w-100" style="border-radius: 15px;">
        </div>
    </div>
</section>