<section class="filter">
    <div class="d-flex justify-content-between align-items-center title-box">
        <h1>Relief Dashboard</h1>
        <img src="assets/images/filter.png" alt="" width="40px" (click)="clear()">
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
            <p>Before/After 2016</p>
            <select name="" id="" [(ngModel)]="selectedBeforeAfter" (change)="get_other_details()">
                <option value="" selected>Select</option>
                <option [value]="ba" *ngFor="let ba of before_after">{{ba}}</option>
            </select>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
            <p>District</p>
            <select name="" id="" [(ngModel)]="selectedDistrict" (change)="get_other_details()" [disabled]="isDistrictDisabled">
                <option value="" selected>Select</option>
                <option [value]="district.district_name" *ngFor="let district of districts">{{district.district_name}}</option>
            </select>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
            <p>Community</p>
            <select name="" id="" [(ngModel)]="selectedCommunity" (change)="get_caste()">
                <option value="" selected>Select</option>
                <option [value]="Community" *ngFor="let Community of communities">{{Community}}</option>
            </select>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
            <p>Caste</p>
            <select name="" id="" [(ngModel)]="selectedCaste" (change)="get_other_details()">
                <option value="" selected>Select</option>
                <option [value]="caste" *ngFor="let caste of castes">{{caste}}</option>
            </select>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
            <p>Nature of offence</p>
            <select name="" id="" [(ngModel)]="selectedNatureOfOffence" (change)="get_other_details()">
                <option value="" selected>Select</option>
                <option [value]="nof" *ngFor="let nof of nature_of_offence">{{nof}}</option>
            </select>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
            <p>Relief Status</p>
            <select name="" id="" [(ngModel)]="selectedReliefStatus" (change)="get_other_details()">
                <option value="" selected>Select</option>
                <option [value]="rs" *ngFor="let rs of relief_status">{{rs}}</option>
            </select>
        </div>
    </div>
</section>