<!-- <header class="header">
  <div class="header-container">
    <div class="logo-section">
      <img src="assets/images/image.png" alt="Secondary Logo" class="logo small" />
      <div class="divider"></div>
      <div class="titles">
        <h1 class="title sk">Samaththuvam Kaanbom</h1>
        <h2 class="title adtw">Adi Dravidar and Tribal Welfare Department</h2>
        <h3 class="title gov">Government of Tamil Nadu</h3>
      </div>
    </div>

    <nav class="nav-links desktop-only">
      <ng-container *ngFor="let item of menuItems">
        <a *ngIf="item.label !== 'News & Events' && item.label !== 'Login'"
           [routerLink]="item.isExternal ? null : item.to"
           [href]="item.isExternal ? item.to : null"
           class="nav-link"
           target="{{ item.isExternal ? '_blank' : '_self' }}">
          {{ item.label }}
        </a>
    
        <div class="dropdown nav-item" *ngIf="item.label === 'News & Events'">
          <a href="#" class="nav-link dropdown-toggle"
             id="newsDropdown"
             role="button"
             data-bs-toggle="dropdown">
            News & Events
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Gallery</a></li>
            <li><a class="dropdown-item" href="#">Press Releases</a></li>
          </ul>
        </div>
        <a *ngIf="item.label === 'Login'"
           href="#"
           class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Login
        </a>
      </ng-container>
    </nav>
    <button class="menu-button mobile-only" (click)="toggleMenu()">
      <span *ngIf="!isMenuOpen">&#9776;</span>
      <span *ngIf="isMenuOpen">&#10005;</span> 
    </button>
  </div>
  <div *ngIf="isMenuOpen" class="mobile-overlay" (click)="toggleMenu()"></div>
  <div class="mobile-menu" [class.open]="isMenuOpen">
    <ng-container *ngFor="let item of menuItems">
      <a *ngIf="item.label !== 'News & Events' && item.label !== 'Login'"
         [routerLink]="item.isExternal ? null : item.to"
         [href]="item.isExternal ? item.to : null"
         class="mobile-link">
        {{ item.label }}
      </a>
      <div class="mobile-dropdown" *ngIf="item.label === 'News & Events'">
        <a href="#" class="mobile-link dropdown-toggle"
           (click)="toggleDropdown($event)">
          News & Events
        </a>
        <ul class="dropdown-menu" [class.show]="isDropdownOpen">
          <li><a class="dropdown-item" href="#">Gallery</a></li>
          <li><a class="dropdown-item" href="#">Press Releases</a></li>
        </ul>
      </div>
      <a *ngIf="item.label === 'Login'"
         href="#"
         role="button" class="mobile-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Login
      </a>
    </ng-container>
  </div>
</header> -->
<div class="top-header">
  <div class="language-switcher">
    <span style="font-weight: 800;color: gold;font-size: 1.3rem;">த</span>
    <span>
      <!-- <img src="assets/images/lang.png" alt="" width="50px"> -->
      <input type="checkbox" name="" id="lang" class="lang" [(ngModel)]="languagechecked" (change)="changelang()">
      <label for="lang" class="langlabel">
        <span class="toggle"></span>
        <!-- <span>{{language}}</span> -->
      </label>
    </span>
    <span style="font-weight: 800;color: gold;font-size: 1.3rem;">E</span>
    <!-- <span *ngIf="selLang === 'tn'" (click)="changelang()">
      <img src="assets/images/lang.png" alt="" width="50px"> <button class="btn loginout">English</button>
    </span>
    <span *ngIf="selLang === 'en'" (click)="changelang()">
      <img src="assets/images/lang.png" alt="" width="50px"><button class="btn loginout">தமிழ்</button>
    </span> -->
  </div>

  <div class="phone-container">
    <img src="assets/images/phone.png" alt="" width="30px">
    <p>{{ currentPhone }}</p>
  </div>
</div>

<section class="header">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-10 col-sm-10 col-10">
      <div class="logo-section">
        <img src="assets/images/image.png" alt="Secondary Logo" class="logo small" />
        <div class="divider"></div>
        <div class="titles">
          <h1 class="title sk mobile-title">{{lang.lang.sk}}</h1>
          <h2 class="title adtw">{{lang.lang.adwt}}</h2>
          <h3 class="title gov">{{lang.lang.govt}}</h3>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 d-flex justify-content-center align-items-center desktop-only">
      <h1 class="title sk">{{lang.lang.sk}}</h1>
    </div>
    <div class="col-xl-4 col-lg-4 d-flex justify-content-end align-items-center px-4 desktop-only">
      <!-- <button role="button" class="btn btn-primary mobile-link loginout" data-bs-toggle="modal" data-bs-target="#exampleModal"
        *ngIf="!is_user">Login</button>
      <button class="btn btn-primary mobile-link loginout" *ngIf="is_user" (click)="logout()">Log out</button> -->
      <img src="https://www.naanmudhalvan.tn.gov.in/_nuxt/img/cm.e8d4eb2.png" alt="" style="width: 7rem;">
    </div>
    <div class="col-md-2 col-sm-2 col-2 mobile-only">
      <button class="menu-button" (click)="toggleMenu()">
        <span *ngIf="!isMenuOpen">&#9776;</span>
        <span *ngIf="isMenuOpen">&#10005;</span>
      </button>
    </div>
    <div *ngIf="isMenuOpen" class="mobile-overlay" (click)="toggleMenu()"></div>
    <div class="mobile-menu" [class.open]="isMenuOpen">
      <!-- <ng-container *ngFor="let item of menuItems">
        <a *ngIf="item.label !== 'News & Events' && item.label !== 'Login' && item.label !=='About Us'"
          [routerLink]="item.isExternal ? null : item.to" [href]="item.isExternal ? item.to : null" class="mobile-link">
          {{ item.label }}
        </a>
        <div class="mobile-dropdown" *ngIf="item.label === 'About Us'">
          <a href="#" class="mobile-link dropdown-toggle" (click)="toggleDropdownAbout($event)">
            About Us
          </a>
          <ul class="dropdown-menu dropdown-menu-mob" [class.show]="isDropdownOpenAbout">
            <li><a class="dropdown-item" href="#">Adidravidar & Tribal Welfare Department</a></li>
            <li><a class="dropdown-item" href="#">Social Justice and Human Rights Wing</a></li>
            <li><a class="dropdown-item" href="#">TN State Commission for Scheduled Castes and Scheduled Tribes</a></li>
          </ul>
        </div>
        <div class="mobile-dropdown" *ngIf="item.label === 'News & Events'">
          <a href="#" class="mobile-link dropdown-toggle" (click)="toggleDropdown($event)">
            News & Events
          </a>
          <ul class="dropdown-menu dropdown-menu-mob" [class.show]="isDropdownOpen">
            <li><a class="dropdown-item" href="#">Gallery</a></li>
            <li><a class="dropdown-item" href="#">Press Releases</a></li>
          </ul>
        </div>
        <a *ngIf="item.label === 'Login' && !is_user" href="#" role="button" class="mobile-link" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          Officer Login
        </a>
        <a *ngIf="item.label === 'Login' && is_user" href="#">
          Logut
        </a>
      </ng-container> -->
      <ng-container>
        <a routerLink="landing" class="mobile-link">
          {{ lang.lang.home}}
        </a>
        <div class="dropdown nav-item">
          <a href="#" class="mobile-link dropdown-toggle" id="newsDropdown" role="button" data-bs-toggle="dropdown"
            routerLink="about">
            {{ lang.lang.about}}
          </a>
          <ul class="dropdown-menu dropdown-menu-mob">
            <li><a class="dropdown-item" href="#">{{lang.lang.adwt}}</a></li>
            <li><a class="dropdown-item" href="#">{{lang.lang.sjhrw}}</a></li>
            <li><a class="dropdown-item" href="#">{{lang.lang.tnsc}}</a></li>
          </ul>
        </div>
        <a routerLink="poa" class="mobile-link">
          {{ lang.lang.poa}}
        </a>
        <a routerLink="services" class="mobile-link">
          {{ lang.lang.acts_rules}}
        </a>
        <div class="dropdown nav-item">
          <a href="#" class="mobile-link dropdown-toggle" id="newsDropdown" role="button" data-bs-toggle="dropdown">
            {{ lang.lang.news_events}}
          </a>
          <ul class="dropdown-menu dropdown-menu-mob">
            <li><a class="dropdown-item" routerLink="gallery">{{lang.lang.gallery}}</a></li>
            <li><a class="dropdown-item" href="#">{{lang.lang.press_releases}}</a></li>
          </ul>
        </div>
        <a routerLink="poahelpline" class="mobile-link">
          {{ lang.lang.poa_helpline}}
        </a>
        <a routerLink="faq" class="mobile-link">
          {{ lang.lang.faq}}
        </a>
        <button role="button" class="btn mobile-link loginout" data-bs-toggle="modal" data-bs-target="#exampleModal"
          *ngIf="!is_user">{{lang.lang.officers_login}}</button>
        <button class="btn mobile-link loginout" *ngIf="is_user" (click)="logout()">{{lang.lang.logout}}</button>
      </ng-container>
    </div>
  </div>
</section>
<div class="web-nav desktop-only">
  <nav class="nav-links">
    <!-- <ng-container *ngFor="let item of menuItems">
      <a *ngIf="item.label !== 'News & Events' && item.label !== 'Login' && item.label !=='About Us'"
        [routerLink]="item.isExternal ? null : item.to" [href]="item.isExternal ? item.to : null" class="nav-link"
        target="{{ item.isExternal ? '_blank' : '_self' }}">
        {{ item.label }}
      </a>

      <div class="dropdown nav-item" *ngIf="item.label === 'About Us'">
        <a href="#" class="nav-link dropdown-toggle" id="newsDropdown" role="button" data-bs-toggle="dropdown">
          About Us
        </a>
        <ul class="dropdown-menu dropdown-menu-about">
          <li><a class="dropdown-item" href="#">Adidravidar & Tribal Welfare Department</a></li>
          <li><a class="dropdown-item" href="#">Social Justice and Human Rights Wing</a></li>
          <li><a class="dropdown-item" href="#">TN State Commission for Scheduled Castes and Scheduled Tribes</a></li>
        </ul>
      </div>


      <div class="dropdown nav-item" *ngIf="item.label === 'News & Events'">
        <a href="#" class="nav-link dropdown-toggle" id="newsDropdown" role="button" data-bs-toggle="dropdown">
          News & Events
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Gallery</a></li>
          <li><a class="dropdown-item" href="#">Press Releases</a></li>
        </ul>
      </div>
      <div *ngIf="item.label === 'Login'">
        <button role="button" class="btn mobile-link loginout" data-bs-toggle="modal" data-bs-target="#exampleModal"
          *ngIf="!is_user">Officer Login</button>
        <button class="btn mobile-link loginout" *ngIf="is_user" (click)="logout()">Log out</button>
      </div>
    </ng-container> -->
    <ng-container>
      <div class="other-links">
        <a routerLink="landing" class="nav-link">
          {{ lang.lang.home}}
        </a>
        <div class="dropdown nav-item">
          <a href="#" class="nav-link dropdown-toggle" id="newsDropdown" role="button" data-bs-toggle="dropdown"
            routerLink="about">
            {{ lang.lang.about}}
          </a>
          <ul class="dropdown-menu dropdown-menu-about">
            <li><a class="dropdown-item" href="#">{{lang.lang.adwt}}</a></li>
            <li><a class="dropdown-item" href="#">{{lang.lang.sjhrw}}</a></li>
            <li><a class="dropdown-item" href="#">{{lang.lang.tnsc}}</a></li>
          </ul>
        </div>
        <a routerLink="poa" class="nav-link">
          {{ lang.lang.poa}}
        </a>
        <a routerLink="services" class="nav-link">
          {{ lang.lang.acts_rules}}
        </a>
        <div class="dropdown nav-item">
          <a href="#" class="nav-link dropdown-toggle" id="newsDropdown" role="button" data-bs-toggle="dropdown">
            {{ lang.lang.news_events}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="gallery">{{lang.lang.gallery}}</a></li>
            <li><a class="dropdown-item" href="#">{{lang.lang.press_releases}}</a></li>
          </ul>
        </div>
        <a routerLink="poahelpline" class="nav-link">
          {{ lang.lang.poa_helpline}}
        </a>
        <a routerLink="faq" class="nav-link">
          {{ lang.lang.faq}}
        </a>
      </div>
      <div>
        <button role="button" class="btn mobile-link loginout" data-bs-toggle="modal" data-bs-target="#exampleModal"
        *ngIf="!is_user">{{lang.lang.officers_login}}</button>
      <button class="btn mobile-link loginout" *ngIf="is_user" (click)="logout()">{{lang.lang.logout}}</button>
      </div>
    </ng-container>
  </nav>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="margin-top: 220px;">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <app-login (loginSuccess)="closeModal()" />
      </div>
    </div>
  </div>
</div>