<div class="top-header">
  <div class="language-switcher">
    <span style="font-weight: 800;color: gold;font-size: 1.3rem;">த</span>
    <span>
      <input type="checkbox" name="" id="lang" class="lang" [(ngModel)]="languagechecked" (change)="changelang()">
      <label for="lang" class="langlabel">
        <span class="toggle"></span>
      </label>
    </span>
    <span style="font-weight: 800;color: gold;font-size: 1.3rem;">E</span>
  </div>

  <div class="phone-container">
    <img src="assets/images/phone.png" alt="" width="30px">
    <p>{{ currentPhone }}</p>
  </div>
</div>

<section class="header">
    <div class="logo-section">
      <img src="assets/images/image.png" alt="Secondary Logo" class="logo small" />
      <div class="divider"></div>
      <div class="titles">
        <h1 class="title sk mobile-title" [ngClass]="{'bamini':selLang=='tn','teko':selLang=='en'}">{{lang.lang.sk}}</h1>
        <span class="mob-tiru">
          <h3>பிறப்பொக்கும் எல்லா உயிர்க்கும் சிறப்பொவ்வா</h3>
          <h3>செய்தொழில் வேற்றுமை யான். (972)</h3>
        </span>
        <h2 class="title adtw">{{lang.lang.adwt}}</h2>
        <h3 class="title gov">{{lang.lang.govt}}</h3>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center desktop-only"
      style="flex-direction: column;gap: 1rem;">
      <h1 class="title sk" [ngClass]="{'bamini':selLang=='tn','teko':selLang=='en'}">{{lang.lang.sk}}</h1>
      <span>
        <h3 class="web-tiru">பிறப்பொக்கும் எல்லா உயிர்க்கும் சிறப்பொவ்வா</h3>
        <h3 class="web-tiru">செய்தொழில் வேற்றுமை யான். (972)</h3>
      </span>
    </div>
    <div class="d-flex justify-content-end align-items-center px-4 desktop-only">
      <img src="https://www.naanmudhalvan.tn.gov.in/_nuxt/img/cm.e8d4eb2.png" alt="" style="width: 7rem;">
    </div>
    <div class="mobile-only">
      <button class="menu-button" (click)="toggleMenu()">
        <span *ngIf="!isMenuOpen">&#9776;</span>
        <span *ngIf="isMenuOpen">&#10005;</span>
      </button>
    </div>
    <div *ngIf="isMenuOpen" class="mobile-overlay" (click)="toggleMenu()"></div>
    <div class="mobile-menu" [class.open]="isMenuOpen">
      <ng-container>
        <a routerLink="landing" class="mobile-link">
          {{ lang.lang.home}}
        </a>
        <div class="dropdown nav-item">
          <a href="#" class="mobile-link dropdown-toggle" id="newsDropdown" role="button" data-bs-toggle="dropdown"
            routerLink="about">
            {{ lang.lang.about}}
          </a>
          <ul class="dropdown-menu dropdown-menu-mob">
            <li><a class="dropdown-item" routerLink="about">{{lang.lang.adwt}}</a></li>
            <li><a class="dropdown-item" routerLink="about-sjhr">{{lang.lang.sjhrw}}</a></li>
            <li><a class="dropdown-item" href="#">{{lang.lang.tnsc}}</a></li>
          </ul>
        </div>
        <a routerLink="poa" class="mobile-link">
          {{ lang.lang.poa}}
        </a>
        <a routerLink="services" class="mobile-link">
          {{ lang.lang.acts_rules}}
        </a>
        <div class="dropdown nav-item">
          <a href="#" class="mobile-link dropdown-toggle" id="newsDropdown" role="button" data-bs-toggle="dropdown">
            {{ lang.lang.news_events}}
          </a>
          <ul class="dropdown-menu dropdown-menu-mob">
            <li><a class="dropdown-item" routerLink="gallery">{{lang.lang.gallery}}</a></li>
            <li><a class="dropdown-item" href="#">{{lang.lang.press_releases}}</a></li>
          </ul>
        </div>
        <a routerLink="poahelpline" class="mobile-link">
          {{ lang.lang.poa_helpline}}
        </a>
        <a routerLink="faq" class="mobile-link">
          {{ lang.lang.faq}}
        </a>
        <button role="button" class="btn mobile-link loginout" data-bs-toggle="modal" data-bs-target="#exampleModal"
          *ngIf="!is_user">{{lang.lang.officers_login}}</button>
        <button class="btn mobile-link loginout" *ngIf="is_user" (click)="logout()">{{lang.lang.logout}}</button>
      </ng-container>
    </div>
</section>
<div class="web-nav desktop-only">
  <nav class="nav-links">
    <ng-container>
      <div class="other-links">
        <a routerLink="landing" class="nav-link">
          {{ lang.lang.home}}
        </a>
        <div class="dropdown nav-item">
          <a href="#" class="nav-link dropdown-toggle" id="newsDropdown" role="button" data-bs-toggle="dropdown"
            routerLink="about">
            {{ lang.lang.about}}
          </a>
          <ul class="dropdown-menu dropdown-menu-about">
            <li><a class="dropdown-item" routerLink="about">{{lang.lang.adwt}}</a></li>
            <li><a class="dropdown-item" routerLink="about-sjhr">{{lang.lang.sjhrw}}</a></li>
            <li><a class="dropdown-item" href="#">{{lang.lang.tnsc}}</a></li>
          </ul>
        </div>
        <a routerLink="poa" class="nav-link">
          {{ lang.lang.poa}}
        </a>
        <a routerLink="services" class="nav-link">
          {{ lang.lang.acts_rules}}
        </a>
        <div class="dropdown nav-item">
          <a href="#" class="nav-link dropdown-toggle" id="newsDropdown" role="button" data-bs-toggle="dropdown">
            {{ lang.lang.news_events}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="gallery">{{lang.lang.gallery}}</a></li>
            <li><a class="dropdown-item" href="#">{{lang.lang.press_releases}}</a></li>
          </ul>
        </div>
        <a routerLink="poahelpline" class="nav-link">
          {{ lang.lang.poa_helpline}}
        </a>
        <a routerLink="faq" class="nav-link">
          {{ lang.lang.faq}}
        </a>
      </div>
      <div>
        <button role="button" class="btn mobile-link loginout" data-bs-toggle="modal" data-bs-target="#exampleModal"
          *ngIf="!is_user">{{lang.lang.officers_login}}</button>
        <button class="btn mobile-link loginout" *ngIf="is_user" (click)="logout()">{{lang.lang.logout}}</button>
      </div>
    </ng-container>
  </nav>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="margin-top: 220px;">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <app-login (loginSuccess)="closeModal()" />
      </div>
    </div>
  </div>
</div>