<h2>Reason For Pending UI Cases</h2>

<div class="pie-div">
    <!-- <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels" [options]="pieChartOptions"
        [plugins]="pieChartPlugins" [legend]="pieChartLegend" class="pie">
    </canvas> -->
    <canvas baseChart [type]="'doughnut'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend" class="pie">
    </canvas>
</div>
<app-loading-dash *ngIf="loading"/>