<div class="card-header">
    <div class="card-title">
        <h5 class="card-title" style="font-weight: 600;">Reason For Pending UI Cases</h5>
    </div>
</div>

<div class="pie-div">
    <!-- <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels" [options]="pieChartOptions"
        [plugins]="pieChartPlugins" [legend]="pieChartLegend" class="pie">
    </canvas> -->
    <canvas baseChart [type]="'doughnut'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend" class="pie">
    </canvas>
</div>
<app-loading-dash *ngIf="loading"/>