*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filter-nav{
    background-color: #186CBD;
    padding: 1rem;
    color: #fff;
}
.title-box h3{
    font-size: 2rem;
    text-align: center;
    color: #fff;
}
.filters{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 0.5rem;
    row-gap: 1rem;
    padding: 2rem;
}
.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.filter select,input{
    width: 100%;
    padding:8px;
    border-radius: 0.3rem;
}

.filter div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-container{
    align-items: flex-start;
}
::ng-deep .mat-mdc-text-field-wrapper {
  height: 47px !important;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

// .filters{
//     gap: 1rem;
// }

// .filters div{
//     flex: 1;
// }

select{
    width: 100%;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

h1, p{
    color: #fff;
    font-weight: 600;
}

img{
    cursor: pointer;
}