<section class="filter">
    <ul>
        <li><h1>Meeting Dashboard</h1></li>
        <li class="d-flex justify-content-center align-items-center filters">
            <div>
                <p>Quarter</p>
                <select name="" id="" [(ngModel)]="selectedQuarter" (change)="get_other_values()">
                    <option value="" selected>Select</option>
                    <option value="Q1">Q1</option>
                    <option value="Q2">Q2</option>
                    <option value="Q3">Q3</option>
                    <option value="Q4">Q4</option>
                </select>
            </div>
            <div>
                <p>District</p>
                <select name="" id="" [(ngModel)]="selectedDistrict" (change)="getSubdivisions()" [disabled]="isDistrictDisabled">
                    <option value="" selected>Select</option>
                    <option [value]="district" *ngFor="let district of districts">{{district}}</option>
                </select>
            </div>
            <div>
                <p>Sub Division</p>
                <select name="" id="" [(ngModel)]="selectedSubDivision" (change)="get_other_values()">
                    <option value="" selected>Select</option>
                    <option [value]="subdiv" *ngFor="let subdiv of subdivs">{{subdiv}}</option>
                </select>
            </div>
            <div>
                <p>Year</p>
                <select name="" id="">
                    <option value="" selected>Select</option>
                    <option value="2025">2025</option>
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <!-- <option [value]="subdiv" *ngFor="let subdiv of subdivs">{{subdiv}}</option> -->
                </select>
            </div>
        </li>
        <li class="d-flex justify-content-end align-items-center">
            <img src="assets/images/filter.png" alt="filter" width="40px" (click)="clear()">
        </li>
    </ul>
</section>