    <!-- <table class="custom-table">
      <thead>
        <tr>
          <th>FIR NO</th>
          <th>District</th>
          <th>Relief Stage</th>
          <th>Pending Days</th>
          <th>Priority</th>
          <th>Next Action Due</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData; let i = index" [ngClass]="i % 2 === 0 ? 'row-white' : 'row-gray'">
          <td>{{ item.fir_id}}</td>
          <td>{{ item.District }}</td>
          <td>{{ item.Relief_Stage }}</td>
          <td>{{ item.Pending_Days }}</td>
          <td>{{ item.Priority }}</td>
          <td>{{ item.Next_Action_Due }}</td>
        </tr>
      </tbody>
    </table> -->
    
    <div class="grid-top">
  <div class="card text-center">
    <div class="card-header p-4">
      <h4 class="mb-0">FIR Stage</h4>
    </div>
    <div class="card-body px-10">
      <p class="mt-2 fw-semibold">Total Proposal Sent to DC : {{ tableData[0]?.fir_proposal_sent_to_dc }}</p>
          <canvas #firChartCanvas></canvas>
      </div>
  </div>

  <div class="card text-center">
    <div class="card-header p-4">
      <h4 class="mb-0">Chargesheet Stage</h4>
    </div>
    <div class="card-body px-10">
      <p class="mt-2 fw-semibold">Total Proposal Sent to DC : {{ tableData[0]?.chargesheet_proposal_sent_to_dc }}</p>
          <canvas #chargeChartCanvas></canvas>
      </div>
  </div>

  <div class="card text-center">
    <div class="card-header p-4">
      <h4 class="mb-0">Trial Stage</h4>
    </div>
    <div class="card-body px-10">
      <p class="mt-2 fw-semibold">Total Proposal Sent to DC : {{ tableData[0]?.trial_proposal_sent_to_dc }}</p>
          <canvas #trialChartCanvas></canvas>
      </div>
  </div>
</div>

    <app-loading-dash *ngIf="loading"/>
  