<app-relief-filter/>
<app-relief-cards/>
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6">
        <app-relief-table/>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4">
        <app-relief-job-status/>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4">
        <app-relief-pension-status/>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4">
        <app-relief-patta-status/>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4">
        <app-relief-education-status/>
    </div>
</div>
<div class="row" style="margin-top: 2rem;">
    <div class="col-xl-4 col-lg-4 col-md-12">
        <app-relief-given/>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12">
        <app-relief-pending/>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12">
        <app-relief-relief-status/>
    </div>
</div>