:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
/* Login form styling */
.login-form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

/* Center the image */
.login-image {
  max-width: 100px; /* Make the image smaller */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the image */
}

/* Alerts */
.alert {
  font-size: 1rem;
  line-height: 1.5;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}

/* Form Row Input */
.fv-row input {
  min-height: 45px;
  font-size: 0.95rem;
}

/* Buttons */
button {
  padding: 10px;
  font-size: 1rem;
  background-color: #279cfd; /* Blue button */
  border-radius: 5px;
  border: none;
  color: #fff;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
}

button:hover {
  background-color: #007bff;
}

/* Form Checkbox and Forgot Password link */
.form-check-input {
  margin-right: 10px;
}

.link-primary {
  color: #007bff;
  text-decoration: none;
}

.link-primary:hover {
  text-decoration: underline;
}

/* Registration Link */
.text-center a {
  color: #279cfd;
  text-decoration: none;
}

.text-center a:hover {
  text-decoration: underline;
}



///new 

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-head{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cm-image{
  max-width: 100px;
  height: auto;
}

.title{
  text-align: center;
  margin-top: 2rem;
}

.login-box{
  display: grid;
  grid-template-columns: 4fr 6fr;
  border-radius: 35px;
  width: 70%;
  height: 63vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.angleimage-box{
  overflow: hidden;
}

.archangel-raguel{
  transform: scale(1.2);
  height: 100%;
  transition: all 1s;
  width: 100%;
}
.archangel-raguel:hover{
  transform: scale(1);
  // height: 63vh;
}
.form-box-outer{
  background-color: #fff;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
h3{
  font-size: x-large;
  color: #6b748c;
  font-weight: 600;
  text-align: center;
}
.form-control{
  border-radius: 15px;
  padding: 15px 20px;
  margin-left: auto;
  margin-right: auto;
}

.form-control::placeholder{
  font-size: 1.2rem;
}

button{
  background: linear-gradient(to right, #279cfd, #1a7bc1);
  width: 160px;
  font-size: medium;
  border-radius: 11px;
}

a:link,a:visited{
  color: #6b748c;
  text-decoration: none;
}

.input-group-text{
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none6;
}
@media (max-width:769px){
  .angleimage-box{
    display: none;
  } 
  .login-box{
    grid-template-columns:1fr;
  }
}
@media (max-width:426px){
  .login-box{
    width: 95%;
  }
  .login-image{
    max-width: 70px;
  }
  .cm-image{
    max-width: 80px;
  }
}