<app-filter-nav/>
<app-cards/>
<div class="grid-top mt-3">
    <div class="card">
        <app-case-dwcdm-ui/>
    </div>
     <div class="card">
        <app-ui-case/>
    </div>
     <div class="card">
        <app-case-horizontal-bar/>
         <app-case-table/>
    </div>
   
    <!-- <div class="card state">
        <app-case-dwcdm-pt/>
    </div> -->
    
    <div class="card">
        
    </div>
    
    <div class="card">
        <app-case-status/>
    </div>

    <div class="card">
       <app-case-piechart/>
    </div>

    
    <div class="card">
        <app-case-dwcdm-pt/>
    </div>
    
    <div class="card">
        <app-pt-case/>
    </div>
    
    <div class="card">
         <app-case-annual/>
    </div>
    
     
</div>
<div class="grid mt-3" style="grid-template-columns: repeat(2,1fr);">
    <!-- <div class="card">
        <app-case-horizontal-bar/>
    </div> -->
    <div class="card d-flex align-items-center justify-content-center">
        
    </div>
    <!-- <div class="card">
        <app-case-piechart/>
    </div> -->
</div>
