<section class="poa">
    <div class="row">
        <app-carousel/>
    </div>
    <div class="row">
        <div class="header">
            <h1 class="heading">{{lang.lang.POA}}</h1>
        </div>
    </div>
    <div class="row mid">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <img src="assets/images/slide5.jpg" alt="" class="">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 content">
            <h2>{{lang.lang.adwt}}</h2>
            <ng-container *ngFor="let item of lang.lang.poa_page">
                <p>{{item}}</p>
            </ng-container>
        </div>
    </div>
</section>