* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poa {
    // margin-top: 9.5rem;
    // overflow: scroll;
}

.header {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: linear-gradient(to right, #2563EB, #1E3A8A);
    color: #FFFFFF;
    overflow: hidden;
    // padding-left: 20rem;
    // padding-right: 20rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // width: 100%;
    // flex-direction: column;
}

.heading {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #FFFFFF;
}
.mid {
    padding: 5rem 1rem !important;
}

.mid img {
    display: block !important;
    width: 100% !important;
    border-radius: 13px !important;
    margin-bottom: 3rem !important;
}

.mid h2 {
    font-size: 1.875rem !important;
    font-weight: bold !important;
    color: #111827 !important;
}

.mid p {
    margin-top: 1.5rem !important;
    color: #4B5563 !important;
    line-height: 1.625 !important;
}
.content {
    padding: 0 3rem !important;
}
