<!--begin::Logo-->
<a routerLink="/dashboard" class="sidebar-logo"
   [class.minimized]="isSidebarMinimized">

  <!-- Dark sidebar layout -->
  <ng-container *ngIf="currentLayoutType === 'dark-sidebar'">
    <div class="logo-wrapper" *ngIf="isSidebarMinimized">
      <!-- Circle logo -->
      <div class="logo-circle">
        <img alt="Logo" src="./assets/images/image.png" class="logo-img" />
      </div>

      <!-- Text (hide when minimized unless hover) -->
      <div class="logo-text" *ngIf="isSidebarMinimized">ADTW</div>
    </div>

    <!-- Toggle button -->
    <ng-container *ngIf="toggleEnabled">
      <div id="kt_app_sidebar_toggle"
           class="sidebar-toggle"
           [ngClass]="toggleButtonClass"
           data-kt-toggle="true"
           [attr.data-kt-toggle-state]="toggleState"
           data-kt-toggle-target="body"
           [attr.data-kt-toggle-name]="toggleAttr">
        <i class="fas fa-bars" style="color: #fff;" (click)="toggleSidebar()"></i>
      </div>
    </ng-container>
  </ng-container>

  <!-- Light / Dark logo variations -->
  <ng-container *ngIf="currentLayoutType !== 'dark-sidebar'">
    <img alt="Logo" src="./assets/images/image.png"
         class="logo-img theme-light-show" />
    <img alt="Logo" src="./assets/images/image.png"
         class="logo-img theme-dark-show" />
  </ng-container>
</a>
<!--end::Logo-->
