<section class="cards">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 card-box">
            <div class="case red">
                <img src="assets/images/hammer.png" alt="" height="50px">
                <div>
                    <p>Total Reported Cases</p>
                    <p>{{staticCards.Total_Reported_Cases}}</p>
                </div>
            </div>
            <div class="filter red">
                <p>Filtered Cases</p>
                <p>{{DynamicCards.Filtered_Total_Reported_Cases}}</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 card-box">
            <div class="case red">
                <img src="assets/images/hammer.png" alt="" height="50px">
                <div>
                    <!-- <p>Case Registered Before "14-04-2016"</p> -->
                     <p>Total Disposed Cases</p>
                    <p>{{staticCards.Case_Register_Before_14_04_2026}}</p>
                </div>
            </div>
            <div class="filter red">
                <p>Filtered Cases</p>
                <p>{{DynamicCards.Filtered_Case_Register_Before_14_04_2026}}</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 card-box">
            <div class="case red">
                <img src="assets/images/hammer.png" alt="" height="50px">
                <div>
                    <!-- <p>Case Registered After "14-04-2016"</p> -->
                     <p>Total Eligible Cases</p>
                    <p>{{staticCards.Case_Register_after_14_04_2026}}</p>
                </div>
            </div>
            <div class="filter red">
                <p>Filtered Cases</p>
                <p>{{DynamicCards.Filtered_Case_Register_after_14_04_2026}}</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 card-box">
            <div class="case red">
                <img src="assets/images/hammer.png" alt="" height="50px">
                <div>
                    <p>FIR Proposal not yet Received</p>
                    <p>{{staticCards.Fir_Stage}}</p>
                </div>
            </div>
            <div class="filter red">
                <p>Filtered Cases</p>
                <p>{{DynamicCards.Filtered_Fir_Stage}}</p>
            </div>
        </div>
        <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 card-box">
            <div class="case blue">
                <img src="assets/images/firconv.png" alt="" height="50px">
                <div>
                    <p>Charge Sheet Stage</p>
                    <p>{{staticCards.Chargesheet_Stage}}</p>
                </div>
            </div>
            <div class="filter blue">
                <p>Filtered Cases</p>
                <p>{{DynamicCards.Filtered_Chargesheet_Stage}}</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 card-box">
            <div class="case blue">
                <img src="assets/images/firconv.png" alt="" height="50px">
                <div>
                    <p>Conviction Stage</p>
                    <p>{{staticCards.Conviction_Stage}}</p>
                </div>
            </div>
            <div class="filter blue">
                <p>Filtered Cases</p>
                <p>{{DynamicCards.Filtered_Conviction_Stage}}</p>
            </div>
        </div> -->
    </div>
    <app-loading-dash *ngIf="loading"/>
</section>