.donut{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
    position: relative;
    border: 1px solid #000;
    padding: 10px 0px;
    border-radius: 10px;
}
.text-left{
    border-bottom: 1px solid var(--bs-card-border-color);
    padding:0px 0px 10px 10px;
}
.pie-div,h2{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color: #00008B;
    text-align: center;
    margin-top: 1rem;
}

.pie-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Legends{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    font-size: 12px;
    font-weight: 700;
    font-family: sans-serif;

}
span{
    font-size: 12px;
}
.num-case{
    background-color: orangered;
    color: #fff;
    padding: 5px;
}
.pie{
    width: 50%;
}

.red{
    display: inline-block;
    padding: 0.3rem;
    background-color: #2A9D8F;
    // background-color: #d64550;
    border-radius: 50%;
    border: none;
    margin-right: 0.2rem;
}
.blue{
    display: inline-block;
    padding: 0.3rem;
    background-color: #E9C46A;
    border-radius: 50%;
    border: none;
    margin-right: 0.2rem;
}