<div class="card">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <div class="d-flex align-items-center position-relative my-1">
        <i class="fas fa-search fs-3 position-absolute ms-5"></i>
        <input type="text" [(ngModel)]="searchText" class="form-control form-control-solid w-250px ps-12"
          placeholder="Search Member Name" (input)="get_filter_json()" />
      </div>
    </div>
    <div class="card-toolbar">
      <button class="btn btn-primary" (click)="openModal()">
        <i class="fas fa-plus-circle"></i> Add Member
      </button>
    </div>
  </div>
  <div class="row d-flex mb-3 p-4 align-items-center">
    <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
      <label for="form-label">District</label>
      <select class="form-control" [(ngModel)]="selectedDistrict" (change)="getSubdivisions();get_filter_json()">
        <option value="" selected>District</option>
        <option [value]="district" *ngFor="let district of districts">{{district}}</option>
      </select>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
      <label for="form-label">Sub Division</label>
      <select class="form-control" [(ngModel)]="selectedSubDivision" (change)="get_filter_json()">
        <option value="" selected>Sub Division</option>
        <option [value]="subdiv" *ngFor="let subdiv of subdivs">{{subdiv}}</option>
      </select>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
      <label for="form-label">Status</label>
      <select class="form-control" [(ngModel)]="selectedStatus" (change)="get_filter_json()">
        <option value="" selected>Status</option>
        <option *ngFor="let option of status" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
      <label for="form-label">Member Type</label>
      <select class="form-control" [(ngModel)]="selectedMemberType" (change)="get_filter_json()">
        <option value="" selected>Member Type</option>
        <option value="Official Member">Official Member</option>
        <option value="Non-Official Member">Non-Official Member</option>
      </select>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
      <label for="form-label">Designation of Member</label>
      <select class="form-control" [(ngModel)]="selectedDesignationMember" (change)="get_filter_json()">
        <option value="" disabled>Select Designation</option>
        <option [value]="option" *ngFor="let option of options">{{option}}</option>
      </select>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
      <label for="form-label">Date of Appointment</label>
      <input type="date" class="form-control" [(ngModel)]="doa" (change)="get_filter_json()">
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
      <label for="form-label">Level of Member</label>
      <select class="form-control" [(ngModel)]="selectedMemberLevel" (change)="get_filter_json()">
        <option value="" disabled>Select Level</option>
            <option *ngIf="Parsed_UserInfo.role != '4'" value="State Level">State Level</option>
            <option value="District Level">District Level</option>
            <option value="Subdivision">Subdivision</option>
      </select>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 mb-3">
        <button class="btn btn-primary btn-sm" (click)="clear()">Clear Filters</button>
      </div>
  </div>

  <div class="card-body pt-0">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>SI.No</th>
          <th>Member Type</th>
          <th>Salutations</th>
          <th>Name of the Member</th>
          <th>Designation of Member</th>
          <th>Other Designation</th> <!-- Updated column name -->
          <th>Date of Appointment</th>
          <th>Validity</th>
          <th>Level of Member</th>
          <th>District</th>
          <th>Subdivision</th>
          <th>Status</th> <!-- Added Status column -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="filteredMembers.length === 0">
          <td colspan="9" class="text-center">No data found</td>
        </tr>
        <tr *ngFor="let member of getFilteredTable(filteredMembers,filteredJson) | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
          <td>{{ (page - 1) * 10 + i + 1 }}</td>
          <td>{{ member.member_type || 'N/A' }}</td>
          <td>{{ member.salutation || 'N/A' }}</td>
          <td>{{ member.name || 'N/A' }}</td>
          <td>{{ member.designation || 'N/A' }}</td>
          <td>{{ member.other_designation || 'N/A' }}</td>
          <td>{{ member.appointment_date | date: 'dd/MM/yyyy' }}</td>
          <td>{{ member.validityEndDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ member.level_of_member || 'N/A' }}</td>
          <td>{{ member.district || 'N/A' }}</td>
          <td>{{ member.subdivision || 'N/A' }}</td>
          <td>
            <span class="badge" [ngClass]="member.status == '1' ? 'badge-success' : 'badge-danger'">
              {{ member.status == '1' ? 'Active' : 'Inactive' }}
            </span>
          </td>
          <td>
            <div ngbDropdown class="d-inline-block">
              <button ngbDropdownToggle class="btn btn-sm btn-circle btn-icon btn-bg-light btn-active-color-primary">
                <i class="bi bi-three-dots-vertical fs-3"></i>
              </button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="openModal(member)">Edit</button>
                <button ngbDropdownItem (click)="deleteMember(member.vmc_id)">Delete</button>

                <button ngbDropdownItem (click)="toggleStatus(member)">
                  {{ member.status == '1' ? 'Set Inactive' : 'Set Active' }}
                </button>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

    <!-- Pagination Control -->
    <pagination-controls class="d-flex justify-content-end" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<!-- Modal for Adding/Editing Member -->
<ng-template #memberModalAdd let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ editIndex !== null ? 'Edit Member' : 'Add Member' }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div class="row mb-3">
        <!-- Salutation -->
        <div class="col-md-12">
          <label for="salutation" class="form-label">Salutations</label><span class="required"></span>
          <select class="form-select" id="salutation" name="salutation" [(ngModel)]="member.salutation" required>
            <option value="" disabled>Select Salutation</option>
            <option value="Mr">Mr</option>
            <option value="Ms">Ms</option>
            <option value="Dr">Dr</option>
          </select>
        </div>

        <!-- Member Type -->
        <div class="col-md-12 mt-3">
          <label for="member_type" class="form-label">Member Type</label><span class="required"></span>
          <select class="form-select" id="memberType" name="member_type: ''," [(ngModel)]="member.member_type" required>
            <option value="" disabled>Select Member Type</option>
            <option value="Official Member">Official Member</option>
            <option value="Non-Official Member">Non-Official Member</option>
          </select>
        </div>

        <!-- Name -->
        <div class="col-md-12 mt-3">
          <label for="name" class="form-label">Name</label><span class="required"></span>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="member.name"
            placeholder="Enter Name" required  (keypress)="allowOnlyLetters($event)" (input)="onInputChange($event)" />
        </div>

        <!-- Designation -->
        <div class="col-md-12 mt-3" *ngIf="member.member_type == 'Official Member'">
          <label for="designation" class="form-label">Designation</label><span class="required"></span>
          <select class="form-select" id="designation" name="designation" [(ngModel)]="member.designation" required>
            <option value="" disabled>Select Designation</option>
            <option value="Hon'ble Chief Minister (Chairperson)">Hon'ble Chief Minister (Chairperson)</option>
            <option value="Hon'ble Minister for Home Affairs">Hon'ble Minister for Home Affairs</option>
            <option value="Hon'ble Minister for Finance">Hon'ble Minister for Finance</option>
            <option value="Hon'ble Minister for Adi Dravidar Welfare">Hon'ble Minister for Adi Dravidar Welfare</option>
            <option value="Member of Parliament (MP)">Member of Parliament (MP)</option>
            <option value="Member of Legislative Assembly (MLA)">Member of Legislative Assembly (MLA)</option>
            <option value="Chief Secretary of the Government of Tamil Nadu">Chief Secretary of the Government of Tamil
              Nadu</option>
            <option value="Secretary, Home Department">Secretary, Home Department</option>
            <option value="Director General of Police (DGP)">Director General of Police (DGP)</option>
            <option value="Director, National Commission for the SCs and STs">Director, National Commission for the SCs
              and STs</option>
            <option value="Deputy Director, National Commission for SCs and STs">Deputy Director, National Commission
              for SCs and STs</option>
            <option value="Secretary, Adi Dravidar and Tribal Welfare Department">Secretary, Adi Dravidar and Tribal
              Welfare Department</option>
            <option value="District Collector">District Collector</option>
            <option value="Superintendent of Police (SP)">Superintendent of Police (SP)</option>
            <option value="Deputy Superintendent of Police (DSP)">Deputy Superintendent of Police (DSP)</option>
            <option value="DADTWO">DADTWO</option>
            <option value="Sub-Divisional Magistrate (SDM)">Sub-Divisional Magistrate (SDM)</option>
            <option value="Member of Legislative Council (Councillor)">Member of Legislative Council (Councillor)
            </option>
            <option value="Panchayat President">Panchayat President</option>
            <option value="Panchayat Vice-President">Panchayat Vice-President</option>
            <option value="Member of Panchayat">Member of Panchayat</option>
            <option value="Tahsildar">Tahsildar</option>
            <option value="Block Development Officer">Block Development Officer</option>
            <option value="DRO">DRO</option>
            <option value="Spl Thasildhar">Spl Thasildhar</option>
            <option value="Dept Thasildhar">Dept Thasildhar</option>
            <option value="Sub collector">Sub collector</option>
            <option value="Others">Others</option>
          </select>
        </div>

        <!-- Non-Official Member Designation -->
        <div class="col-md-12 mt-3" *ngIf="member.member_type == 'Non-Official Member'">
          <label for="designation" class="form-label">Designation</label>
          <input type="text" class="form-control" id="designation" name="designation" [(ngModel)]="member.designation"
            placeholder="Enter Other Designation" required />
        </div>

        <!-- Other Designation -->
        <div class="col-md-12 mt-3" *ngIf="member.designation === 'Others'">
          <label for="otherDesignation" class="form-label">Other Designation</label>
          <input type="text" class="form-control" id="otherDesignation" name="otherDesignation"
            [(ngModel)]="member.other_designation" placeholder="Enter Other Designation" required />
        </div>

        <!-- Meeting Date -->
        <div class="col-md-12 mt-3">
          <label for="appointment_date" class="form-label">Date of Appointment</label><span class="required"></span>
          <input type="date" class="form-control" id="appointment_date" name="appointment_date"
            [(ngModel)]="member.appointment_date" required />
        </div>

        <!-- Validity End Date -->
        <div class="col-md-12 mt-3">
          <label for="validityEndDate" class="form-label">Validity End Date</label>
          <input type="date" class="form-control" id="validityEndDate" name="validityEndDate"
            [(ngModel)]="member.validityEndDate" />
        </div>

        <div class="col-md-12 mt-3">
          <label for="levelOfMember" class="form-label">Level of Member</label><span class="required"></span>
          <select class="form-select" id="levelOfMember" name="levelOfMember" [(ngModel)]="member.level_of_member"
            (change)="onLevelChange(member.level_of_member)" required>
            <option value="" disabled>Select Level</option>
            <option *ngIf="Parsed_UserInfo.role != '4'" value="State Level">State Level</option>
            <option value="District Level">District Level</option>
            <option value="Subdivision">Subdivision</option>
          </select>
        </div>

        <div class="col-md-12 mt-3">
          <label for="district" class="form-label">District</label>
          <select class="form-select" id="district" name="district" [(ngModel)]="member.district"
            (ngModelChange)="onDistrictChange($event)" (change)="onDistrictChange($event)"
            [disabled]="isDistrictDisabled" required>
            <option value="" disabled>Select District</option>
            <option *ngFor="let district of districts" [value]="district">
              {{ district }}
            </option>
          </select>
        </div>

        <div class="col-md-12 mt-3">
          <label for="subdivision" class="form-label">Subdivision</label>
          <select class="form-select" id="subdivision" name="subdivision" [(ngModel)]="member.subdivision"
            [disabled]="isSubdivisionDisabled || !subdivisions.length" required>
            <option value="" disabled>Select Subdivision</option>
            <option *ngFor="let subdivision of subdivisions" [value]="subdivision">
              {{ subdivision }}
            </option>
          </select>
        </div>



      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid || isInvalidBasedOnLevel()">
          {{ editIndex !== null ? 'Update' : 'Submit' }}
        </button>
      </div>
    </form>
  </div>
</ng-template>


<!-- SweetAlert Success Message -->
<swal #successSwal></swal>