<div class="header mb-4">
  <h1 class="heading">{{lang.lang.faq_land.title}}</h1>
  <p class="subheading">{{lang.lang.faq_land.description}}</p>
</div>
<div class="container py-5">
  <div class="accordion" id="faqAccordion">
    <!-- Question 1 -->
    <ng-container *ngFor="let item of lang.lang.faq_content; index as i">
      <div class="accordion-item">
        <h2 class="accordion-header" [id]="'heading' + i">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
            {{ item.question }}
          </button>
        </h2>
        <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            {{ item.answer }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>